button{
    font-family: 'Lato', sans-serif!important;
}

.carta{
    background-image: url(/assets/img/fondo-md.png);
    background-position: center;
    background-size: cover;
    border-top: 7px solid rgb(77, 77, 77);
    padding: 15px 0 0 0;
    transition: box-shadow 400ms ease-in-out;
}

.carta:hover{
    box-shadow: 0.2rem 0.2rem 0.6rem #e2e7ea;
    border-top: 7px solid #28C171;
}

.color-verde-frinchi{
    color: #28C171;
}


.logo-empresa img{
    width: 200px;
}

.cuadro.verde{
    height: 71px;
    background-color: #28C171;
    border: 2px solid #26D381;
}

.cuadro{
    height: 71px;
    background-color: #F4F4F4;
    border-radius: 9px;
    padding: 5px 0;
}

.cuadro p{
    font-size: 10px;
    text-align: center;
    color: #939393;
    margin-top: 5px;
}

.beneficios .col-md-3, .beneficios .col-3{
    padding-left: 5px;
    padding-right: 5px;
}

.precio{
    height: 112px;
    text-align: center;
}

.precio h3{
    font-size: 50px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}


.contenido h4{
    font-size: 17px;
    margin: 17px 0;
    color: #0FB9B1;
}

p,hr{
    padding: 0;
    margin: 0;
}

.color-gray{
    color: #b3b3b3;
}

p{
    color: #45AAF2;
    font-size: 13px;
}

p span{
    font-weight: bold;
}

.color-span{
    color: #afafaf;
    font-size: 13px;
}


.btn-primary {
    text-transform: uppercase;
    color: #fff;
    background-color: #20BF6B;
    border: 0;
    border-radius: 9px;
    font-size: 30px;
    padding: 8px 20px!important;
}

.btn-primary:hover{
    color: #fff;
    background-color: rgb(16, 136, 72);
}

.bloque{
    background-color: white;
    padding: 8px 0;
    border-radius: 9px;
}

.margin-top-30{
    margin-top: 30px;
}

.img-svg{
    width: 35px;
    margin: 0 auto;
    display: block;
}

.azul-rey{
    color: #3867D6!important;
}

@media (min-width: 768px){
    .bloque-total{
        height: 318px;
    }
}

@media (min-width: 1440px){
    .bloque-total{
        height: 261px;
    }
}
