div.col-3.col-xs-3.col-md-3.col-lg-2{
    display: flex;
   justify-content: center;
   align-items: center;
}

p{
    font-size: 13px;
}

.titulo{
font-size: 28px;
color: #1c8464;
font-weight: 700;
text-decoration: none solid rgb(28, 132, 100);
text-align: center;
}

.sub-titulo{
font-size: 18px;
color: #556176;
text-decoration: none solid rgb(85, 97, 118);
text-align: center;
font-weight: 100;
}

.titulo-wrap{
    margin: 60px 0;
    text-align: center;
}

.pb-35{
    padding-bottom: 35px;
}

.btn-primary{
    width: 280px;
    height: 59px;
    padding: 0px 16px 0px 20px;
    border-radius: 4px;
    background-color: #1c8464;
    font-family: Lato;
    font-size: 17px;
    color: #ffffff;
    text-decoration: none solid rgba(255, 255, 255, 0.84);
    text-align: center;
    margin: 40px 0;
}

.form-control{
    width: 86px;
    height: 20px;
    padding: 0px 10px;
    border: 1px solid #c8c8c8;
    border-radius: 2px;
    background-color: #ffffff;
    font-family: Lato;
    font-size: 13px;
    color: #374140;
    font-weight: 700;
    text-decoration: none solid rgb(55, 65, 64);
}

form p{
    font-size: 13px;
}

.color-gray{
    color: #556176;
}

.cuadrado-gris{
    background: #f0f0f0;
    padding: 10px 0;
    width: 100%;
    border: 2px solid #ffffff;
    border-width: 0 0 2px 0;
}

.cuadrado-gris.claro{
    background: #f9f9f9;
    padding: 15px 0;
    width: 100%;

}

.raya{
    border: 1px solid #ffffff;
    border-width: 0 1px 0 0;
}

.form-check-inline {
    margin-right: 0;
}

@media (max-width: 767px){
    .form-control{
        width: 37px;
        font-size: 12px;
    }

    .color-gray p{
        font-size: 12px;
    }

}

