header {
    background: #fafafa !important;
    border: 1px solid #e6e6e6;
    border-width: 0 0 1px 0;
}

@media (min-width: 768px) and (max-width:1023px){
    .ayuda{
        display: none;
    }
}
.nav-item ._svg{
    width:1em;
}

.superior-header{
    padding: 10px 0;
    .container{
        @media (min-width: 1340px){
            max-width: 1340px !important;
        }
        @media (min-width: 1920px){
            max-width: 1800px!important;
        }
        
    }
    .enlance-superior{
        font-size: 13px;
        display: block;
        width: 100%;
        color: #003C71;
        text-decoration: none;
    }
    .telefono{
        position: absolute;
        top: 5px;
        right: 210px;
        color: #003C71;
        font-size: 27px;
    }
}
.menu-left{
    margin-left:20px;
}
.menu-left ul{
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: normal;
}
.menu-left ul li{
    position:relative;
    display:inline-block;
    padding-left: 6px;
    padding-right: 6px;
    transition: .4s;
}
.menu-left ul li a{
    color: #a5adb4;
    font-family: "Helvetica",Helvetica;
    font-size: 20px;
    font-weight: 400;
    transition: .4s;
}
.menu-left ul li:hover > a:after{
    opacity:1;
    position:absolute;
    background-color:#003c71;
    width:100%;
    height:3px;
    content:"";
    left:0;
    bottom:-10px;
    z-index:2;
}
.menu-left ul li a:hover{
    line-height: 20px;
    text-decoration:none!important;
    color: #003c71;
}

.menucito-desktop{
    display: none;
    @media (min-width: 1024px){
        display: block;
    }
}
.right-menu li:hover > a span{
    color:#050f26!important;
}
.right-menu .nav-link{
    padding-right:.3rem;
    padding-left:.3rem;
}
.nav-item span{
    font-family: "Helvetica",Helvetica;
    font-size: 14px;
    font-weight: 400;
    line-height: 2.5em;
    padding: 0;
    color: #3a4454!important;
}
.nav-link .icon-search{
    position:relative;
    left:-12px;
    top:5px;
}

.sub-arrow:before {
    font-family: FontAwesome!important;
    font-size: inherit;
    font-weight: 400;
    content: '\f078';
    font-size: 8px;
}
.country-selector{
    position:relative;
}
.country-selector .sub-menu-country{
    display: none;
    transition: opacity 2s ease-out;
    opacity: 0;
    overflow: hidden;
}
.country-selector:hover > .sub-menu-country{
    opacity: 1;
    display: block;
}
.sub-menu-country a{
    margin:0px;
    padding:3px;
}

.sub-menu-country{
    list-style-type: none;
    position:absolute;
    left:-50px;
    background-color: white;
    width:200px;
    z-index:100;
    text-align:left;
    padding:0px;
    padding-left:20px;
    padding-right:10px;
}
.sub-menu-country li{
    text-align:left;
}

.menucito-movil{
    display: block;
    margin: 10px 0;
        .btn-group, .btn-group-vertical {
            position: relative;
            display: inline-flex;
            vertical-align: middle;
            width: 100%;
        }
        
        
        .dropdown-menu{
            width: 100%;
            margin: .625rem 0 0;
            border: 0px solid rgba(0,0,0,.15);
            border-radius: 0;
        }

        .navbar-toggler{
            position: absolute;
            right: 0;;
        }

        .nav-link{
            font-family: "Helvetica",Helvetica;
            font-size: 14px;
            font-weight: 400;
            line-height: 2.5em;
            padding: 0;
            color: #3a4454!important;
        }
    @media (min-width: 1024px){
        display: none;

    }
}
