/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	/* Page Header */
	.module-header{
		background-image: url(../img/family.png);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	.ul-footer{
	list-style: none!important;
	height: 30px;
	}

	.ul-footer > li{
	float: left!important;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}