p {
    font-size: 14px;
}

.bluesito {
    color: #003c71;
}

.quoting {
    background-color: #fafafa;
    padding: 100px 0;
}

.cuadrado {
    width: 380px !important;
    display: block;
    margin: 0 auto;
}

i.fas.fa-angle-left {
    font-size: 35px;
    color: #a5adb4;
}

.color-negro {
    color: #576278;
}

.cotizador-h4 {
    float: left;
    margin: 0 0 0 70px;
    font-weight: 700;
    color: #1c8464;
    text-decoration: none solid rgb(87, 98, 120);
}

.cotizador-h2-2 {
    font-weight: 700;
    color: #1c8464;
    text-decoration: none solid rgb(87, 98, 120);
    text-align: center;
    margin-bottom: 30px;
}

.cuadrado img {
    margin: 0 auto;
    display: block;
    margin-top: 38px;
    margin-bottom: 38px;
}

.cuadrado h3 {
    margin-top: 15px;
    font-size: 22px;
    color: #003c71;
    font-weight: 400;
    text-decoration: none solid rgb(19, 89, 158);
    text-align: center;
    @media (min-width: 1024px) {
        font-size: 24px;
    }
}

.tres {
    width: 3.2% !important;
}

.treinta {
    width: 29.1% !important;
}

.cuarenta {
    width: 35.4% !important;
}

.form-control {
    border-radius: 0;
    width: 230px;
    height: 42px;
    display: block;
    margin: 0 auto;
    font-size: 14px;
    font-weight: initial;
}

.invalid-feedback,
.valid-feedback {
    width: 230px;
    margin: 0 auto;
}

.form-control::placeholder {
    color: rgb(179, 179, 179) !important;
}

.btn-primary {
    color: #fff;
    background-color: #003c71;
    width: 281px;
    display: block;
    margin: 0 auto;
    font-size: 17px;
    font-weight: initial;
}

.btn-primary:hover {
    color: #fff;
    background-color: #133c61;
}

.font-28 {
    font-size: 28px;
}

.ml-70 {
    margin-left: 75px;
}

i.fas {
    font-size: 11px;
}

.img-mail{
    margin:0px;
    height:78px;
    width:86px;
}

.img-identity{
    margin:0px;
}

@media (max-width: 767px) {
    .cuadrado {
        width: 100%;
    }
    .cotizador-h4 {
        margin: 0 0 0 40px;
    }
    .img-mail{
        margin:0px;
        height:38px;
        width:46px;
    }
    
    .img-identity{
        margin:0px;
        margin:0px;
        height:38px;
        width:46px;
    }
}