<div *ngIf="!isLoading" class="wrapper">
    <section class="quoting">
        <form [formGroup]="forma">
            <div class="container">
                <div class="row" [ngClass]="{'d-none': flag1 == false}">
                    <div class="col-1 col-md-2">
                        <!-- -->
                    </div>
                    <div class="col-10 col-md-8">
                        <div class="cuadrado">
                            <h4 class="cotizador-h4" style="color:#003c71">Protección Banesco </h4> <img style="height:26px;width:26px;margin-bottom:10px;" src="../../../../../../assets/img/medical.png" alt="" class="m-1 d-inline">
                            <h4 class="cotizador-h2-2" style="color:#003c71">Seguros</h4>
                            <h3 class="">Por favor bríndanos tu número de identificación y correo electrónico.</h3>
                            
                            <div style="display:flex;flex-direction:row;align-items: center;justify-content: center;">
                            <img src="https://res.cloudinary.com/merchanj/image/upload/v1559177569/Banesco_Seguros_Panama/AP/Tarjeta.svg" alt="" class="my-5" style="margin:0px;">
                            <div style="margin-left:25px;">
                            <div class="text-center">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" (ngModelChange)="validations()" name="documentType" id="documentType" [value]="'Cedula'" formControlName="documentType" checked>
                                    <label class="form-check-label" for="Cedula">Cédula </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" (ngModelChange)="validations()" name="documentType" id="documentType" [value]="'Pasaporte'" formControlName="documentType">
                                        <label class="form-check-label" for="Pasaporte">Pasaporte</label>
                                    </div>
                                </div>
                            </div>
                            <small *ngIf="invalid('documentType', forma)" class="text-danger">
                                Por favor elija un tipo de identificación.
                            </small>
                            <div style="margin: 0 auto;" [ngStyle]="{'width': forma.value.documentType === 'Pasaporte' ? '260px' : '260px'}" *ngIf="forma.value.documentType" class="form-group mt-3">
                                <!-- <label for="">{{forma.value.documentType === 'Cedula' ? 'Número de identificación' : 'Pasaporte'}}: </label> -->
                                <div class="form-row">
                                    <ng-template [ngIf]="forma.value.documentType === 'Cedula'">
                                        <div class="treinta">
                                            <input type="text" class="form-control w-100" [ngClass]="{'is-invalid': invalid('document', forma), 'is-valid': valid('document', forma)}" formControlName="document">
                                        </div>
                                        <div class="tres d-flex justify-content-center align-items-center">
                                            <strong><b>-</b></strong>
                                        </div>
                                        <div class="treinta">
                                            <input type="text" class="form-control w-100" [ngClass]="{'is-invalid': invalid('document2', forma), 'is-valid': valid('document2', forma)}" formControlName="document2">
                                        </div>
                                        <div class="tres d-flex justify-content-center align-items-center">
                                            <strong><b>-</b></strong>
                                        </div>
                                        <div class="cuarenta">
                                            <input type="text" class="form-control w-100" [ngClass]="{'is-invalid': invalid('document3', forma), 'is-valid': valid('document3', forma)}" formControlName="document3">
                                        </div>
                                        <ng-template [ngIf]="forma.value.documentType !== 'Pasaporte'">
                                            <div class="col-12">
                                                <small *ngIf="invalid('document', forma) || invalid('document2', forma) || invalid('document3', forma)" class="text-danger">
                                                    Por favor introduzca un formato válido de cédula. Por ejemplo: Panamá: 8-000-0000 o Extranjero: N-4556-1465. 
                                                </small>
                                                <small *ngIf="valid('document', forma) && valid('document2', forma) && valid('document3', forma)" class="text-success">
                                                    ¡Excelente!
                                                </small>
                                                <small>
                                                    &nbsp;
                                                </small>
                                            </div>
                                        </ng-template>
                                    </ng-template>
                                    <ng-template [ngIf]="forma.value.documentType === 'Pasaporte'">
                                        <div class="col-12">
                                            <input type="text" class="form-control w-100" [ngClass]="{'is-invalid': invalid('document', forma), 'is-valid': valid('document', forma)}" formControlName="document">
                                            <div *ngIf="invalid('document', forma)" class="invalid-feedback">
                                                Por favor introduzca un número de pasaporte válido. Por ejemplo: 458456684.
                                            </div>
                                            <div *ngIf="valid('document', forma)" class="valid-feedback">
                                                ¡Excelente!
                                            </div>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                            </div>    
                            </div>
                            <div style="display:flex;flex-direction:row;align-items:center;justify-content: center;margin-top:-40px;">
                                <img src="https://res.cloudinary.com/merchanj/image/upload/v1559177569/Banesco_Seguros_Panama/AP/Mail.svg" alt="" class="my-5" style="margin:0px;height:78px;width:86px;">
                                <div style="margin-left:25px;width:260px;">
                                <input type="email" class="form-control mb-1" placeholder="EMAIL" formControlName="email" [ngClass]="{'is-invalid': invalid('email', forma), 'is-valid': valid('email', forma)}" style="width:260px;">
                                <div *ngIf="invalid('email', forma)" class="invalid-feedback">
                                    * Por favor introduce un correo válido
                                </div>
                                </div>
                            </div>
                            <button type="submit" [disabled]="forma.controls['document'].invalid" class="btn btn-primary my-5 " (click)="submit()">COTIZAR</button>
                        </div>
                    </div>
                    <div class="col-1 col-md-2">
                        <!-- -->
                    </div>
                </div>
                <!--
                <div class="row" [ngClass]="{'d-none': flag2 == false}">
                    <div class="col-1 col-md-2">
                        <button (click)="atras2()" class="btn-flecha"><i class="fas fa-angle-left"></i></button>
                    </div>
                    <div class="col-10 col-md-8">
                        <div class="cuadrado" [ngClass]="{'d-none': flag2 == false}">
                            <h4 class="cotizador-h4">Protección Banesco </h4> <img src="https://res.cloudinary.com/merchanj/image/upload/v1559177569/Banesco_Seguros_Panama/AP/cruz.svg" alt="" class="m-0">
                            <h4 class="cotizador-h2-2">Seguros</h4>
                            <h3 class="color-negro">¿A qué se dedica el asegurado?</h3>
                            <img src="https://res.cloudinary.com/merchanj/image/upload/v1559177569/Banesco_Seguros_Panama/AP/maletin.png" alt="" class="my-5">
                            <div class="ng-autocomplete">
                                <ng-autocomplete #ngAutoCompleteStatic [data]="ocupaciones" [initialValue]="" placeHolder="OCUPACIÓN" historyIdentifier="countriesTemplateList" historyListMaxNumber="3" historyHeading="Seleccionado Anteriormente" notFoundText="Texto no encontrado" [itemTemplate]="itemTemplateStatic"
                                    formControlName="occupationId" [notFoundTemplate]="notFoundTemplate">
                                </ng-autocomplete>

                                <ng-template #itemTemplateStatic let-item>
                                    <a [innerHTML]="item"></a>
                                </ng-template>

                                <ng-template #notFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>
                            </div>
                            <div *ngIf="invalid('occupationId', forma)" class="invalid-feedback">
                                Por favor elija una ocupación.
                            </div>
                            <button type="submit" [disabled]="forma.controls['occupationId'].invalid || flag2 == false" class="btn btn-primary my-5 " (click)="submit()">COTIZAR</button>

                        </div>
                    </div>
                    <div class="col-1 col-md-2">
                    </div>
                </div>
                -->
            </div>
        </form>
    </section>
</div>

<ng-template [ngIf]="isLoading">
    <bsp-loader></bsp-loader>
</ng-template>