

.btn-primary{
    width: 280px;
    height: 59px;
    padding: 0px 16px;
    border-radius: 4px;
    background-color: #1c8464;
    font-size: 17px;
    color: #ffffff;
    text-decoration: none solid rgba(255, 255, 255, 0.84);
    text-align: center;
    margin: 40px auto;
}

.btn-white{
    width: 280px;
    height: 59px;
    padding: 0px;
    border: 1px solid #3a4454;
    border-radius: 4px;
    background-color: #ffffff;
    font-size: 17px;
    color: #3a4454;
    text-decoration: none solid rgb(58, 68, 84);
    text-align: center;
}

.modal-content{
    width: 706px;
}

.modal-body h4{
    font-size: 21px;
    color: #1c8464;
    text-decoration: none solid rgb(28, 132, 100);
    margin: 30px 0;
}

.modal-footer .btn-primary, .modal-footer .btn-white{
    width: 220px;
    margin: 0;
}

.modal-footer .btn-white{
    margin-right: 320px;
}

h4.titulo-modal {
  font-size: 21px;
  color: #1c8464;
  text-decoration: none solid rgb(28, 132, 100);
}

.portada-info{
    height: 186px;
    background-image: url("src/assets/img/landing-info.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;

    h3{
        font-size: 24px;
    }

    h5{
        font-size: 20px;
    }
}

.portada-info .texto{
    padding: 20px 0 0 60px;
}

div.terminos{
    height: 500px;
    overflow-y: auto!important;
}

@media (max-width: 1023px){
    .modal-footer .btn-white{
        margin-right: 20px;
    }
}

@media (max-width: 767px){
    .modal-content{
        width: 100%;
    }

    .portada-info .texto{
        padding: 20px 0 0 20px;
    }
}