<ng-template [ngIf]="!loadingPage">
  <ng-template [ngIf]="successful">
    <section>
      <div class="container">
        <div class="row justify-content-center align-items-center minh-100">
          <div class="col-md-12">
            <div class="contenedor-tarjeta">
              <div class="container p-5">
                <h4 class="titulo">Cambio de contraseña</h4>
                <form [formGroup]="form" (ngSubmit)="submit(content)">
                  <label for="" class="mt-4 mb-3">Ingresa tu nueva contraseña:</label>
                  <input type="password" class="form-control" formControlName="password" placeholder="Contraseña">
                  <label for="" class="mt-4 mb-3">Ingresa tu confirmación de contraseña:</label>
                  <input type="password" class="form-control" formControlName="passwordConfirmed"
                    placeholder="Confirmación de contraseña">
                  <button type="submit" class="btn-primary mt-3 row" [disabled]="loading">
                    <ng-template [ngIf]="loading"><i style="color: #ffffff !important"
                        class="fas fa-spinner fa-spin mr-2"></i></ng-template>
                    <span>ENVIAR</span>
                  </button>
                </form>
                <div class="row mt-3">
                  <div class="col text-center titulo">
                    <span>
                      ¿Desea volver al login?
                    </span>&nbsp;&nbsp;
                    <a routerLink="/login" routerLinkActive="active"><small>Haz click
                        aquí</small></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </ng-template>
  <ng-template [ngIf]="!successful">
    <section>
      <div class="container">
        <div class="row justify-content-center align-items-center minh-100">
          <div class="col-md-12">
            <div class="contenedor-tarjeta">
              <div class="container p-5 errorContent">
                <img style="height: 100px; width: 100px;" class="mb-3" src="assets/delete_red.svg" alt="">
                <h4 class="titulo text-center"> Su link ha expirado, por favor, solicite uno nuevo</h4>
                <div class="row mt-3">
                  <div class="col-12 text-center">
                    <span class="titulo">
                      ¿Desea volver a inicio de sesión?
                    </span>&nbsp;&nbsp;
                    <a [routerLink]="['/login']" routerLinkActive="active"><small class="link_style">Haz click
                        aquí</small></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </ng-template>
</ng-template>



<ng-template #content let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img src="https://res.cloudinary.com/merchanj/image/upload/v1559177569/Banesco_Seguros_Panama/AP/error.svg" alt=""
      class="advertencia">
    <p class="text-center">Disculpa, ha ocurrido un error intentando cambiar la contraseña</p>
  </div>
  <div class="modal-footer">
    <button class="btn-white" (click)="modal.close('Save click')">OK</button>
  </div>
</ng-template>
