<section *ngIf="forma && !isLoading" class="kalacra">
  <form [formGroup]="forma">
    <accordion  *ngIf="forma.value.insuSame === false"> <!-- Primer Formulario -->
      <accordion-group [panelClass]="customClass" [isOpen]="isFirstOpen">
        <button class="btn btn-link btn-block clearfix" accordion-heading>
          <div class="pull-left float-left titulo-accordion" style="margin-left:-15px;"><i class="fas fa-angle-down"></i> Datos del
            contratante</div>
        </button>
        <div class="container">
          <p class="subtitulo">Por favor completa los siguientes datos y continúa con el proceso de solicitud.</p>
          <p class="subtitulo">Los campos denotados con un (*) son obligatorios para continuar.</p>
          <div class="row mb-4">
              <div class="col-md-4 mb-4">
                <label for="">¿Eres el solicitante de la póliza? (*)</label>
                <div class="form-check mb-3">
                  <input class="form-check-input" name="insuSame" type="radio" [value]="true" formControlName="insuSame">
                  <label class="form-check-label" for="insuSame">
                    Si
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" name="insuSame" type="radio" [value]="false" formControlName="insuSame">
                  <label class="form-check-label" for="insuSame">
                    No
                  </label>
                </div>
                <small class="text-danger col-12 row" *ngIf="invalid('insuSame', forma)">Campo inválido. Por favor revise.</small>
              </div>
              <div class="col-md-4 mb-4">
                <label for="">Nombre (*)</label>
                <input type="text" class="form-control" formControlName="contName">
                <small class="text-muted col-12 row">Ejemplo: Pedro.</small>
                <small class="text-danger col-12 row" *ngIf="invalid('contName', forma)">Campo inválido. Por favor revise.</small>
              </div>
              <div class="col-md-4 mb-4">
                <label for="">Apellido (*)</label>
                <input type="text" class="form-control" formControlName="contLastName">
                <small class="text-muted col-12 row">Ejemplo: Blanco.</small>
                <small class="text-danger col-12 row" *ngIf="invalid('contLastName', forma)">Campo inválido. Por favor revise.</small>
              </div>
              <div class="col-md-4 mb-4">
                <label for="">Provincia (*)</label>
                <select class="form-control" (ngModelChange)="getDistricts(true)" formControlName="contProvinceId">
                  <option *ngFor="let province of provinces; let i=index" [value]="province.id">{{province.name}}</option>
                </select>
                <small class="text-danger col-12 row" *ngIf="invalid('contProvinceId', forma)">Campo inválido. Por favor revise.</small>
              </div>
              <div class="col-md-4 mb-4">
                <label for="">Distrito (*)</label>
                <select class="form-control" (ngModelChange)="getCorregimientos(true)" formControlName="contDistrictId">
                  <option *ngFor="let district of districtsCont; let i=index" [value]="district.id">{{district.name}}</option>
                </select>
                <small class="text-danger col-12 row" *ngIf="invalid('contDistrictId', forma)">Campo inválido. Por favor revise.</small>
              </div>
              <div class="col-md-4 mb-4">
                <label for="">Corregimiento:  (*)</label>
                <select class="form-control" formControlName="contCorregimientoId">
                  <option *ngFor="let corregimiento of corregimientosCont; let i=index" [value]="corregimiento.id">{{corregimiento.name}}</option>
                </select>
                <small class="text-danger col-12 row" *ngIf="invalid('contCorregimientoId', forma)">Campo inválido. Por favor revise.</small>
              </div>
              <div class="col-md-4 mb-4">
                <label for="">Calle / Avenida:  (*)</label>
                <input type="text" class="form-control" placeholder="Ej: calle 56 C con Av. Brasil" formControlName="contStreet">
                <small class="text-muted col-12 row">Ejemplo: calle 56 C con Av. Brasil.</small>
                <small class="text-danger col-12 row" *ngIf="invalid('contStreet', forma)">Campo inválido. Por favor revise.</small>
              </div>
              <div class="col-md-4 mb-4">
                <label for="">Casa / Apartamento: (*)</label>
                <input type="text" class="form-control" placeholder="Ej: edificio pacif sea, apto 3C" formControlName="contBuilding">
                <small class="text-muted col-12 row">Ejemplo: edificio pacif sea, apto 3C.</small>
                <small class="text-danger col-12 row" *ngIf="invalid('contBuilding', forma)">Campo inválido. Por favor revise.</small>
              </div>
              <div class="col-md-4 mb-4">
                <label for="">Barriada / Urbanización: (*)</label>
                <input type="text" class="form-control" placeholder="Ej: Marbella" formControlName="contNeighborhood">
                <small class="text-muted col-12 row">Ejemplo: Marbella.</small>
                <small class="text-danger col-12 row" *ngIf="invalid('contNeighborhood', forma)">Campo inválido. Por favor revise.</small>
              </div>
              <div class="col-md-4 mb-4">
                <label for="">Teléfono (*)</label>
                <input type="text" class="form-control" formControlName="contCellphone">
                <small class="text-muted col-12 row">Ejemplo: +50765348555.</small>
                <small class="text-danger col-12 row" *ngIf="invalid('contCellphone', forma)">Campo inválido. Por favor revise.</small>
              </div>
              <div class="col-md-4 mb-4">
                <label for="">Actividad económica: (*)</label>
                <select class="form-control" formControlName="contEconomicActivity">
                  <option *ngFor="let occupation of occupations; let i=index" [value]="occupation.id">{{occupation.name}}</option>
                </select>
                <small class="text-danger col-12 row" *ngIf="invalid('contEconomicActivity', forma)">Campo inválido. Por favor revise.</small>
              </div>
          </div>
        </div>
      </accordion-group>
    </accordion>

    <accordion>
      <!-- Segundo Formulario -->
      <accordion-group [panelClass]="customClass" [isOpen]="isFirstOpen">
          <button class="btn btn-link btn-block clearfix" accordion-heading>
            <div class="pull-left float-left" style="margin-left:-15px;"><i class="fas fa-angle-down"></i> Datos del <span *ngIf="forma.value.insuSame === true">contratante y</span> solicitante como asegurado principal</div>
          </button>
          <div class="container">
            <p class="subtitulo" *ngIf="forma.value.insuSame === true">
              Por favor completa los siguientes datos y continúa con el proceso de solicitud. 
            </p>
            <p class="subtitulo">Los campos denotados con un (*) son obligatorios para continuar.</p>
              <div class="row mb-4">
                <div *ngIf="forma.value.insuSame === true" class="col-md-6 col-lg-4 mb-4">
                  <label for="">¿Eres el solicitante de la póliza? (*)</label>
                  <div class="form-check mb-1">
                    <input class="form-check-input" name="insuSame" type="radio" [value]="true" formControlName="insuSame">
                    <label class="form-check-label" for="insuSame">
                      Si
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" name="insuSame" type="radio" [value]="false" formControlName="insuSame">
                    <label class="form-check-label" for="insuSame">
                      No
                    </label>
                  </div>
                  <small class="text-danger col-12 row" *ngIf="invalid('insuSame', forma)">Campo inválido. Por favor revise.</small>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                  <label for="">Nombres (*)</label>
                  <input type="text" class="form-control" placeholder="" formControlName="insuName">
                  <small class="text-muted col-12 row">Ejemplo: Sirio.</small>
                  <small class="text-danger col-12 row" *ngIf="invalid('insuName', forma)">Campo inválido. Por favor revise.</small>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                  <label for="">Apellidos (*)</label>
                  <input type="text" class="form-control" formControlName="insuLastName">
                  <small class="text-muted col-12 row">Ejemplo: Florel.</small>
                  <small class="text-danger col-12 row" *ngIf="invalid('insuLastName', forma)">Campo inválido. Por favor revise.</small>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                  <label for="">Cédula / Pasaporte: (*)</label>
                  <input type="text" class="form-control" formControlName="insuDocument">
                  <small class="text-muted col-12 row">Ejemplo: 4-4565-456454 / A084456465.</small>
                  <small class="text-danger col-12 row" *ngIf="invalid('insuDocument', forma)">Campo inválido. Por favor revise.</small>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                  <label for="">Sexo:  (*)</label>
                  <div class="form-check mb-1">
                    <input class="form-check-input" type="radio" value="masculino" formControlName="insuGender">
                    <label class="form-check-label" for="gender">
                      Masculino
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" value="femenino" formControlName="insuGender">
                    <label class="form-check-label" for="gender">
                      Femenino
                    </label>
                  </div>
                  <small class="text-danger col-12 row" *ngIf="invalid('insuGender', forma)">Campo inválido. Por favor revise.</small>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                  <label for="">Fecha de nacimiento: (*)</label>
                  <input type="date" class="form-control" formControlName="insuBirthday">
                  <small class="text-muted col-12 row">Ejemplo: 05/09/1995.</small>
                  <small class="text-danger col-12 row" *ngIf="invalid('insuBirthday', forma)">Campo inválido. Por favor revise.</small>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                  <label for="">Estado civil: (*)</label>
                  <select class="form-control" formControlName="insuCivilStatus">
                    <option *ngFor="let status of civilStatus; let i=index" [value]="status.item">{{status.item}}</option>
                  </select>
                  <small class="text-danger col-12 row" *ngIf="invalid('insuCivilStatus', forma)">Campo inválido. Por favor revise.</small>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                  <label for="">Lugar de nacimiento (País /Provincia): (*)</label>
                  <input type="text" class="form-control" formControlName="insuBirthplace">
                  <small class="text-muted col-12 row">Ejemplo: Panamá.</small>
                  <small class="text-danger col-12 row" *ngIf="invalid('insuBirthplace', forma)">Campo inválido. Por favor revise.</small>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                  <label for="">Nacionalidad: (*)</label>
                  <select class="form-control" formControlName="insuNationalityId">
                    <option *ngFor="let nationality of nationalities; let i=index" [value]="nationality.id">{{nationality.name}}</option>
                  </select>
                  <small class="text-danger col-12 row" *ngIf="invalid('insuNationalityId', forma)">Campo inválido. Por favor revise.</small>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                  <label for="">Profesión: (*)</label>
                  <input type="text" class="form-control" formControlName="insuProfession">
                  <small class="text-muted col-12 row">Ejemplo: Ingeniero.</small>
                  <small class="text-danger col-12 row" *ngIf="invalid('insuProfession', forma)">Campo inválido. Por favor revise.</small>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                  <label for="">Ocupación: (*)</label>
                  <select class="form-control" formControlName="insuOccupation">
                    <option *ngFor="let occupation of occupations; let i=index" [value]="occupation.id">{{occupation.name}}</option>
                  </select>
                  <small class="text-danger col-12 row" *ngIf="invalid('insuOccupation', forma)">Campo inválido. Por favor revise.</small>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                  <label for="">Empresa donde labora: (*)</label>
                  <input type="text" class="form-control" formControlName="insuCompany">
                  <small class="text-muted col-12 row">Ejemplo: Banesco Seguros C.A.</small>
                  <small class="text-danger col-12 row" *ngIf="invalid('insuCompany', forma)">Campo inválido. Por favor revise.</small>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                  <label for="">Tiempo en esta ocupación (Meses): (*)</label>
                  <input type="number" class="form-control" formControlName="insuOccupationTime">
                  <small class="text-muted col-12 row">Ejemplo: 4 meses.</small>
                  <small class="text-danger col-12 row" *ngIf="invalid('insuOccupationTime', forma)">Campo inválido. Por favor revise.</small>
                </div>
                <div class="col-md-6 col-lg-8 mb-4">
                  <label for="">Describa sus funciones: (*)</label>
                  <input type="text" class="form-control" formControlName="insuOccupationDescription">
                  <small class="text-muted col-12 row">Ejemplo: Liderar proyectos de la empresa.</small>
                  <small class="text-danger col-12 row" *ngIf="invalid('insuOccupationDescription', forma)">Campo inválido. Por favor revise.</small>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                  <label for="">Otras ocupaciones: (*)</label>
                  <input type="text" class="form-control" formControlName="insuOtherOccupations">
                  <small class="text-muted col-12 row">Ejemplo: Carpintero, Mesonero, etc.</small>
                  <small class="text-danger col-12 row" *ngIf="invalid('insuOtherOccupations', forma)">Campo inválido. Por favor revise.</small>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                  <label for="">Ocupaciones anteriores: (*)</label>
                  <select class="form-control" formControlName="insuPreviousOccupations">
                    <option *ngFor="let occupation of occupations; let i=index" [value]="occupation.id">{{occupation.name}}</option>
                  </select>
                  <small class="text-danger col-12 row" *ngIf="invalid('insuPreviousOccupations', forma)">Campo inválido. Por favor revise.</small>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                  <label for="">Deportes que practica: (*)</label>
                  <input type="text" class="form-control" formControlName="insuSports">
                  <small class="text-muted col-12 row">Ejemplo: Baloncesto, Kriket, Judo, etc.</small>
                  <small class="text-danger col-12 row" *ngIf="invalid('insuSports', forma)">Campo inválido. Por favor revise.</small>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                  <label for="">Ingreso mensual: (*)</label>
                  <select class="form-control" formControlName="insuMonthlyIncome">
                    <option *ngFor="let income of incomes; let i=index" [value]="income.item">{{income.item}}</option>
                  </select>
                  <small class="text-danger col-12 row" *ngIf="invalid('insuMonthlyIncome', forma)">Campo inválido. Por favor revise.</small>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                  <label for="">Provincia: (*)</label>
                  <select class="form-control" (ngModelChange)="getDistricts(false)" formControlName="insuProvinceId">
                    <option *ngFor="let province of provinces; let i=index" [value]="province.id">{{province.name}}</option>
                  </select>
                  <small class="text-danger col-12 row" *ngIf="invalid('insuProvinceId', forma)">Campo inválido. Por favor revise.</small>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                  <label for="">Distrito: (*)</label>
                  <select class="form-control" (ngModelChange)="getCorregimientos(false)" formControlName="insuDistrictId">
                    <option *ngFor="let district of districtsInsu; let i=index" [value]="district.id">{{district.name}}</option>
                  </select>
                  <small class="text-danger col-12 row" *ngIf="invalid('insuDistrictId', forma)">Campo inválido. Por favor revise.</small>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                  <label for="">Corregimiento: (*)</label>
                  <select class="form-control" formControlName="insuCorregimientoId">
                    <option *ngFor="let corregimiento of corregimientosInsu; let i=index" [value]="corregimiento.id">{{corregimiento.name}}</option>
                  </select>
                  <small class="text-danger col-12 row" *ngIf="invalid('insuCorregimientoId', forma)">Campo inválido. Por favor revise.</small>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                  <label for="">Barriada / Urbanización: (*)</label>
                  <input type="text" class="form-control" placeholder="Ej: Marbella" formControlName="insuNeighborhood">
                  <small class="text-muted col-12 row">Ejemplo: Marbella.</small>
                  <small class="text-danger col-12 row" *ngIf="invalid('insuNeighborhood', forma)">Campo inválido. Por favor revise.</small>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                  <label for="">Calle / Avenida: (*)</label>
                  <input type="text" class="form-control" placeholder="Ej: calle 56 con Av. Brasil" formControlName="insuStreet">
                  <small class="text-muted col-12 row">Ejemplo: calle 56 C con Av. Brasil.</small>
                  <small class="text-danger col-12 row" *ngIf="invalid('insuStreet', forma)">Campo inválido. Por favor revise.</small>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                  <label for="">Casa / Apartamento: (*)</label>
                  <input type="text" class="form-control" placeholder="Ej: edificio pacif sea, apto 3C" formControlName="insuBuilding">
                  <small class="text-muted col-12 row">Ejemplo: edificio pacif sea, apto 3C.</small>
                  <small class="text-danger col-12 row" *ngIf="invalid('insuBuilding', forma)">Campo inválido. Por favor revise.</small>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                  <label for="">Teléfono residencial: (*)</label>
                  <input type="text" class="form-control" formControlName="insuLocalNumber">
                  <small class="text-muted col-12 row">Ejemplo: +5077348555.</small>
                  <small class="text-danger col-12 row" *ngIf="invalid('insuLocalNumber', forma)">Campo inválido. Por favor revise.</small>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                  <label for="">Teléfono celular: (*)</label>
                  <input type="text" class="form-control" formControlName="insuCellphone">
                  <small class="text-muted col-12 row">Ejemplo: +50765348555.</small>
                  <small class="text-danger col-12 row" *ngIf="invalid('insuCellphone', forma)">Campo inválido. Por favor revise.</small>
                </div>
                <div class="col-md-6 col-lg-4 mb-4">
                  <label for="">Email: (*)</label>
                  <input type="text" class="form-control" formControlName="insuEmail">
                  <small class="text-muted col-12 row">Ejemplo: persona@email.com.</small>
                  <small class="text-danger col-12 row" *ngIf="invalid('insuEmail', forma)">Campo inválido. Por favor revise.</small>
                </div>
              </div> 
          </div>
      </accordion-group>
    </accordion>

    <section class="request">
      <!-- Tercer Formulario -->
      <ng-template #content let-modal>
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <form [formGroup]="modalForm">
              <div class="row">
                <div class="col-md-12">
                  <p class="addbene">Agregar Beneficiario</p>
                  <div class="form-group">
                    <label>Tipo de Beneficiario (*)</label>
                    <div class="custom-control custom-radio">
                      <input id="principal" name="type" type="radio" class="custom-control-input" [value]="'principal'"
                        formControlName="type">
                      <label class="custom-control-label check" for="principal">Principal</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input id="contingente" name="type" type="radio" class="custom-control-input"
                        [value]="'contingente'" formControlName="type">
                      <label class="custom-control-label check" for="contingente">Contingente</label>
                    </div>
                    <small class="text-danger col-12 row ml-md-2" *ngIf="invalid('type', modalForm)">Campo inválido. Por favor revise.</small>
                  </div>
                  <div class="form-group">
                    <label for="">Cédula/Pasaporte: (*)</label>
                    <div class="form-row">
                      <div
                        class="{{modalForm.value.documentType === 'Pasaporte' || !modalForm.value.documentType ? 'col-4' : 'col-3'}}">
                        <select class="form-control" (ngModelChange)="modalValidations(true)"
                          formControlName="documentType">
                          <option *ngFor="let document of documents; let i=index" [value]="document.itemName">
                            {{document.itemName}}</option>
                        </select>
                        <small class="text-danger col-12 row" *ngIf="invalid('documentType', modalForm)">Campo inválido. Por favor revise.</small>
                      </div>
                      <div *ngIf="modalForm.value.documentType" class="d-none d-md-block col-1">
                        -
                      </div>
                      <div *ngIf="modalForm.value.documentType"
                        class="{{modalForm.value.documentType === 'Pasaporte' || !modalForm.value.documentType ? 'col-7' : 'col-3'}}">
                        <input type="text" class="form-control" formControlName="document">
                        <small class="text-muted col-12 row" *ngIf="modalForm.value.documentType === 'Pasaporte'">Ejemplo: A084456465 (Máximo 10 caracteres).</small>
                        <small class="text-muted col-12 row" *ngIf="modalForm.value.documentType !== 'Pasaporte'">Ejemplo: 4564 (Máximo 4 caracteres).</small>
                        <small class="text-danger col-12 row" *ngIf="invalid('document', modalForm)">Campo inválido. Por favor revise.</small>
                        <!-- <small class="text-danger col-12 row" *ngIf="modalForm.value.documentType && modalForm.value.documentType !== 'Pasaporte' && invalid('document', modalForm)">Campo inválido. Por favor revise.</small> -->
                      </div>
                      <div *ngIf="modalForm.value.documentType && modalForm.value.documentType !== 'Pasaporte'"
                        class="d-none d-md-block col-1">
                        -
                      </div>
                      <div *ngIf="modalForm.value.documentType && modalForm.value.documentType !== 'Pasaporte'"
                        class="col-4">
                        <input type="text" class="form-control" formControlName="document2">
                        <small class="text-muted col-12 row">Ejemplo: 456478 (Máximo 6 caracteres).</small>
                        <small class="text-danger col-12 row" *ngIf="invalid('document2', modalForm)">Campo inválido. Por favor revise.</small>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="">Nombre(s) y Apellido(s): (*)</label>
                    <input type="text" class="form-control" formControlName="fullName">
                    <small class="text-muted col-12 row">Ejemplo: Pedro Blanco.</small>
                    <small class="text-danger col-12 row" *ngIf="invalid('fullName', modalForm)">Campo inválido. Por favor revise.</small>
                  </div>
                  <div class="form-group">
                    <label for="">Nacionalidad: (*)</label>
                    <select class="form-control" formControlName="nationalityId">
                      <option *ngFor="let nationality of nationalities; let i=index" [value]="nationality.id">{{nationality.name}}</option>
                    </select>
                    <small class="text-danger col-12 row" *ngIf="invalid('nationalityId', modalForm)">Campo inválido. Por favor revise.</small>
                  </div>
                  <div class="form-group">
                    <label for="">Fecha de nacimiento del integrante: (*)</label>
                    <input type="date" class="form-control" formControlName="birthday">
                    <small class="text-muted col-12 row">Ejemplo: 05/09/1995.</small>
                    <small class="text-danger col-12 row" *ngIf="invalid('birthday', modalForm)">Campo inválido. Por favor revise.</small>
                  </div>
                  <div class="form-group">
                    <label for="">Parentesco: (*)</label>
                    <input type="text" class="form-control" formControlName="relationship">
                    <small class="text-muted col-12 row">Ejemplo: Madre.</small>
                    <small class="text-danger col-12 row" *ngIf="invalid('relationship', modalForm)">Campo inválido. Por favor revise.</small>
                  </div>
                  <div class="form-group">
                    <label for="">Porcentaje (%) : <span tooltip="Aqui va la información" placement="top" show-delay="500"><i class="fas fa-info-circle mx-2"></i></span>  (*)</label>
                    <input type="number" class="form-control" formControlName="percent">
                    <small class="text-muted col-12 row" *ngIf="modalForm.value.type">Porcentaje restante: {{modalForm.value.type === 'principal' ? remainingPercentMain : remainingPercentContingent}}%.</small>
                    <small class="text-danger col-12 row" *ngIf="modalForm.value.type && invalid('percent', modalForm)">Campo inválido. Por favor revise.</small>
                  </div>
                </div>
              </div>
              <div *ngIf="isYounger" class="parrafo-final">
                <p>Cualquier beneficio que corresponda a un menor de edad designado como Beneficiario en esta Póliza, será pagado a:</p>
                <input type="text" class="form-control parrafo" formControlName="paymentName"><br>
                <!-- <small class="text-muted">Ejemplo: Juan Figueira.</small> -->
                <small class="text-danger" *ngIf="invalid('paymentName', modalForm)">Campo inválido. Por favor revise.</small><br>
                <p class="d-inline-block">con cédula de identidad N°: </p>
                <input type="text" class="form-control parrafo" formControlName="paymentDocument">
                <!-- <small class="text-muted">Ejemplo: 5-4444-6666.</small> -->
                <small class="text-danger" *ngIf="invalid('paymentDocument', modalForm)">Campo inválido. Por favor revise.</small><br>
                <p class="d-inline-block">, y en su defecto a: </p>
                <input type="text" class="form-control parrafo" formControlName="paymentName2">
                <!-- <small class="text-muted">Ejemplo: Javier Florez.</small> -->
                <small class="text-danger" *ngIf="invalid('paymentName2', modalForm)">Campo inválido. Por favor revise.</small>
                <br>
                <p class="d-inline-block">, con cédula de identidad N°: </p>
                <input type="text" class="form-control parrafo" formControlName="paymentDocument2">
                <!-- <small class="text-muted">Ejemplo: 5-4444-6666.</small> -->
                <small class="text-danger" *ngIf="invalid('paymentDocument2', modalForm)">Campo inválido. Por favor revise.</small>
                <p class="d-inline-block">, a quien(es) he instruido sobre la forma que debe(n) disponer del dinero que reciba(n)</p>
                <p>de la compañía, sin que por esta razón deba(n) considerarse a esta(s) persona(s) como beneficiario(s) de esta póliza.</p>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary W-100" (click)="createDependent(modal)">GUARDAR</button>
        </div>
      </ng-template>
    </section>

    <accordion>
      <accordion-group [panelClass]="customClass" [isOpen]="isFirstOpen">
          <button class="btn btn-link btn-block clearfix" accordion-heading>
            <div class="pull-left float-left" style="margin: 10px 0 10px -15px;"><i class="fas fa-angle-down"></i> Datos de los beneficiarios</div>
          </button>
          <div class="container">
            <div class="row mb-4">
              <div class="marco-verde uno">
                <h3 class="text-white">Beneficiarios</h3>
              </div>
              <button *ngIf="((this.remainingPercentContingent + this.remainingPercentMain) > 0)" class="btn-mas1" (click)="open(content)"><img src="assets/img/mas.svg" alt="" class="img" ></button> 
                <div class="fondo-blanco">
                  <div class="table-responsive">
                    <table *ngIf="forma" class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col-2">Nombre(s) y apellido(s):</th>
                          <th scope="col-2">Cédula / Pasaporte:</th>
                          <th scope="col-2">Nacionalidad:</th>
                          <th scope="col-2">Fecha de nacimiento:</th>
                          <th scope="col-1">Parentesco:</th>
                          <th scope="col-1">Porcentaje (%):</th>
                          <th scope="col-1">Tipo:</th>
                          <th scope="col-1"> </th>
                        </tr>
                      </thead>
                      <tbody formArrayName="insuDependents" *ngFor="let dependent of forma.get('insuDependents').controls; let i = index">
                          <tr [formGroupName]='i'>
                            <td scope="row"><span class="font-weight-bold">{{dependent.value.fullName}}</span></td>
                            <td>{{dependent.value.documentType === 'Pasaporte' ? dependent.value.document : dependent.value.documentType.concat('-').concat(dependent.value.document).concat('-').concat(dependent.value.document2) }}</td>
                            <td>{{dependent.value.nationalityId ? getNationality(dependent.value.nationalityId).name : 'N/A'}}</td>
                            <td>{{dependent.value.birthday ? getDateWithFormat(dependent.value.birthday): 'N/A'}}</td>
                            <td>{{dependent.value.relationship}}</td>
                            <td>{{dependent.value.percent}}</td>
                            <td>{{dependent.value.type}}</td>
                            <td><i (click)="open(content, dependent)" class="fas fa-pen"></i> <i (click)="deleteDependent(dependent.value.dependentId)" class="fas fa-trash ml-3"></i></td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="row justify-content-center col-md-6">
                  <span class="col-md-6 mt-3">Beneficiarios principales</span><div class="col-md-6"><progress-bar [progress]="100 - remainingPercentMain" [color]="'#1c8464'"></progress-bar></div>
                </div>
                <div class="row justify-content-center col-md-6">
                  <span class="col-md-6 mt-3">Beneficiarios contingentes</span><div class="col-md-6"><progress-bar [progress]="100 - remainingPercentContingent" [color]="'#1c8464'"></progress-bar></div>
                </div>
                <small class="text-danger col-12 row mt-3" *ngIf="isPercentInvalid">La sumatoria total de cada tipo de beneficiario debe ser del 100%.</small>
            </div>
        </div>
      </accordion-group>
    </accordion>
    <div class="row">
      <div class="col-md-12 text-center">
          <button class="btn btn-primary mb-2 mb-md-0" (click)="saveRequest(true)" >CONTINUAR</button>
          <button class="btn btn-white ml-0 ml-md-4" (click)="saveRequest(false)">
              <i class="fas fa-save text-dark"></i> GUARDAR PARA DESPUÉS
          </button>
      </div>
    </div>
  </form>
</section>
<ng-template [ngIf]="isLoading">
  <div class="container">
      <div class='banesco-loader'></div>
  </div>
</ng-template>
