section.payment {
  padding: 30px 0 10px 0;

  .title {
    font-size: 20px;
    color: rgb(0, 122, 83);
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }

  .img {
    fill: rgb(0, 60, 113);
    width: 28px;
    height: 28px;
    padding-top: 2px;
  }

  .img-target {
    fill: #556176;
    width: 35px;
    order: 1;
    z-index: 2;
    position: absolute;
    left: 40%;
    top: 30%;
    border-radius: 0.25em;
  }

  .cuadro {
    border-radius: 0px;
    border-width: 1px;
    border-color: #666666;
    border-style: solid;
    padding: 0px;
    width: 65px;
    height: 65px;
    pointer-events: all;
    display: inline-block;
  }

  .previous {
    color: rgb(85, 97, 118);
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    display: inline;
  }

  .click {
    cursor: pointer;
  }

  .mensaje {
    font-size: 18px;
    color: rgb(85, 97, 118);
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 0 auto;

    @media (min-width: 1024px) {
      width: 700px;
    }
  }

  .inputGroup {
    background-color: rgb(235, 240, 245);
    filter: drop-shadow(rgba(0, 0, 0, 0.35) 0px 1px 1.16667px);
    display: block;
    margin: 30px 0;
    position: relative;
    border-radius: .25rem;
    border-width: 5px 0px 0px;
    border-color: rgb(0, 60, 113);
    border-style: solid;

    label {
      padding: 12px 30px;
      width: 100%;
      font-size: 20px;
      margin-left: 0;
      display: block;
      text-align: left;
      color: rgb(85, 97, 118);
      cursor: pointer;
      position: relative;
      z-index: 2;
      transition: color 200ms ease-in;
      overflow: hidden;

      &:before {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        content: '';
        background-color: #ebf0f5;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale3d(1, 1, 1);
        transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
        opacity: 0;
        z-index: -1;
      }

      &:after {
        width: 32px;
        height: 32px;
        content: '';
        border: 2px solid #D1D7DC;
        background-color: #fff;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-position: 2px 3px;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 200ms ease-in;
      }
    }

    input:checked~label {

      &:before {
        transform: translate(-50%, -50%) scale3d(56, 56, 1);
        opacity: 1;
      }

      &:after {
        background-color: #007943;
        border-color: #007943;
      }
    }

    input {
      width: 32px;
      height: 32px;
      order: 1;
      z-index: 2;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      visibility: hidden;
    }

    .date {
      color: rgb(112, 128, 144);
      font-size: 20px;
    }
  }

  .form {
    padding: 0 16px;
    max-width: 518px;
    margin: 80px auto;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
  }
}

.centrado {
  margin-bottom: 2.5em !important;
}

.radio2 {
  @media (max-width: 800px) {
    padding: 12px 7px !important;

    .img-target {
      fill: #556176;
      width: 35px;
      order: 1;
      z-index: 2;
      position: absolute;
      left: 32% !important;
      top: 30%;
      border-radius: 0.25em;
    }
  }
}

.invalid-feedback {
  display: block;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
