<section class="payment">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div style="margin-bottom: 10px">
          <svg class="img click" (click)="previus()">
            <g>
              <path xmlns:default="http://www.w3.org/2000/svg" d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"
                style="fill: rgb(0, 60, 113);"></path>
            </g>
          </svg>
          <p class="previous click" (click)="previus()">Volver a paso previo</p>
        </div>
        <h4 class="title">Resumen de compra</h4>
        <h5 class="mensaje"> <span style="font-weight:bold;display:block;">¡Estás a punto de finalizar la compra de tu Protección en contra de {{insureType}}!</span> <br>
          Haz clic en “Pagar” y serás redirigido a nuestro portal de pagos donde se realizará el pago. <br> Revisa los datos con detenimiento y procede con el pago de la solicitud.
        </h5>

        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">Producto:</th>
              <th scope="col">Nro. de solicitud:</th>
              <th scope="col">Fecha de compra:</th>
              <th scope="col">Nombre del asegurado:</th>
              <th scope="col">Total a pagar:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row">Seguro de {{insureType}}</td>
              <td>{{'N° '+ (request ? request.result.request.number: '') + ' BSP-SL'}}</td>
              <td>{{ date | date: 'dd/MM/yyyy' }}</td>
              <td style="text-transform: capitalize;"> {{(request ? (request?.result?.request?.insured ? request?.result?.request?.insured?.name : '') + ' ' +
                  (request?.result?.request?.insured ? request?.result?.request?.insured?.secondName : '') + ' ' + (request?.result?.request?.insured ? request?.result?.request?.insured?.lastName : '') + ' ' +
                  (request?.result?.request?.insured ? request?.result?.request?.insured?.secondLastName : '') : '')}} </td>
              <td>
                {{ (request ? ('$' + (request.result.request.insurance ? (request.result.request.insurance.coverageDetail ? request.result.request.insurance.coverageDetail.monthlyPrime : '0') : '0')) : ' ')}}
              </td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-primary centrado" (click)="doPayment()">PAGAR</button>
      </div>
    </div>
  </div>
</section>
