.modal-header{
    border-bottom: 0;
}

.btn-primary {
    text-transform: uppercase;
    color: #fff;
    background-color: #1c8364;
    border-color: #1c8364;
    display: block;
    margin: 0 auto;
}

.btn-primary:hover{
    color: #fff;
    background-color: #0d5640;
    border-color: #0d5640;
}