<section *ngIf="!isLoading" class="polizas">
    <div class="container">
        <div class="row my-5">
            <div class="col-md-12">
                <h1 class="titulo">Lista de Solicitudes</h1>
                <p class="subtitulo">A continuación se muestra la lista de todas las solicitudes que han aplicado por una póliza.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <!-- <div class="row">
          <div class="col-md-4">
              <form>
                <div class="form-group form-inline">
                  <label for="" class="d-block">Busqueda de pólizas: </label>
                  <input class="form-control" type="text" placeholder="Buscar" [(ngModel)]="searchText" name="searchText" (keyup)="showSearchResults($event)"/>
                </div>
              </form>
          </div>
          <div class="col-md-8">
              <button class="btn-blanco">Descargar Excel</button>
          </div>
        </div>
           -->
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nº</th>
                                <th scope="col">Solicitante</th>
                                <th scope="col">Fecha de solicitud</th>
                                <th scope="col">Tipo de Póliza</th>
                                <th scope="col">Estatus</th>
                                <th scope="col">Precio</th>
                                <th style="text-align:center" scope="col">Póliza</th>
                                <th style="text-align:center" scope="col">Detalle</th>
                                <th style="text-align:center" scope="col">Descargar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let request of requests | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize ;let i=index;">
                                <td><strong>Nº {{i+1}} BSP-SL</strong></td>
                                <td>
                                    <p *ngIf="request?.insured?.name">{{request?.insured?.name}} {{request?.insured?.lastName}}</p>
                                    <p *ngIf="request?.insured?.email">{{request?.insured?.email}}</p>
                                    <p *ngIf="request?.insured?.cellphone">{{request?.insured?.cellphone}}</p>
                                    <p *ngIf="request?.insured?.localNumber">{{request?.insured?.localNumber}}</p>
                                    <p *ngIf="!request?.insured?.name && !request?.insured?.email && !request?.insured?.cellphone && !request?.insured?.localNumber">N/A</p>
                                </td>
                                <td>{{request?.createdAt.iso | date: 'dd/MM/yyyy'}}</td>
                                <td>{{request?.insurance?.type}}</td>
                                <td>
                                    <div class="ibox-tools">
                                        <span class="label label-warning-light float-right">{{request?.status}}</span>
                                    </div>
                                </td>
                                <td>{{request?.insurance?.coverageDetail?.monthlyPrime | currency}}</td>
                                <td class="{{request?.policyFile ? 'align-button' : ''}}">
                                    <!-- INPUT #0 -->
                                    <div *ngIf="!request?.policyFile" class="input-container justify-content-center d-flex">
                                        <input #fileInput_0 type="file" name="img" class="hiddenFileInput form-control" (change)="addFile($event.target.files, i, request.id)">
                                        <div *ngIf="!isLoadingFile" class="p-0">
                                            <!-- <ng-template [ngIf]="attachments[i]">
                          <img class="caret" src="/assets/check.svg" />
                        </ng-template> -->
                                            <ng-template [ngIf]="true">
                                                <img class="caret" src="/assets/upload.svg" (click)="fileInput_0.click()" />
                                            </ng-template>
                                        </div>
                                        <div *ngIf="isLoadingFile">
                                            <label class="file-input-label-text mb-0">Cargando adjunto...</label>
                                        </div>
                                        <div *ngIf="!isLoadingFile" class="">
                                            <!-- <ng-template [ngIf]="attachments[i] && fileInput_0?.files[0]">
                          <label class="file-input-label-text mb-0">{{ fileInput_0?.files[0]?.name?.lenght <= 15 ?
                              fileInput_0.files[0].name : (fileInput_0.files[0].name | slice:1:10)+'...' }}</label>
                        </ng-template> -->
                                            <ng-template [ngIf]="true">
                                                <label class="file-input-label-text mb-0" (click)="fileInput_0.click()" style="cursor: pointer;">Adjuntar Poliza</label>
                                            </ng-template>
                                        </div>
                                        <!-- <div *ngIf="attachments.length" class="p-0">
                        <ng-template [ngIf]="attachments[i]">
                          <img class="caret" src="/assets/delete_red.svg" (click)="removeAttachment(i, fileInput_0)" />
                        </ng-template>
                      </div> -->
                                    </div>
                                    <a *ngIf="request?.policyFile" [href]="request.policyFile" target="_blank">Ver Póliza</a>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-center">
                                        <a [routerLink]="[ routerLinkVariable,request.id]" class="btn-primary" target="_blank">Detalle</a>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex justify-content-center">
                                    <a href="" class="btn-primary">Descargar</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="d-flex col-6 justify-content-between p-2">
                        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [directionLinks]="false"></ngb-pagination>
                        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                          <option [value]="10">10 registros</option>
                          <option [value]="20">20 registros</option>
                          <option [value]="30">30 registros</option>
                        </select>
                    </div>
                    <div class="col-6 d-flex">
                        <ng-template #signOut>
                            <div class="text-justify">
                                <strong>Cerrar sesión</strong>
                            </div>
                        </ng-template>
                        <button style="max-height:45px !important" (click)="logOut()" class="btn-primary col-4 ml-auto">
                          Cerrar sesión
                          <!-- <i class="fas fa-sign-out-alt"></i> -->
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<ng-template [ngIf]="isLoading">
    <bsp-loader></bsp-loader>
</ng-template>