.titulo {
    font-size: 32px;
    color: #003c71;
    font-weight: 700;
    text-decoration: none solid rgb(28, 132, 100);
    text-align: left;
}

.btn-dashboard {
    padding: 0.4vmax;
    border: 0;
    border-radius: 4px;
    background-color: #003c71;
    font-size: 13.6px;
    color: #ffffff !important;
    font-weight: bold;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: center;
    cursor: pointer;
}

.subtitulo {
    font-size: 16px;
    color: #556176;
    text-decoration: none solid rgb(85, 97, 118);
    text-align: left;
    @media (min-width: 768px) {
        font-size: 20px;
    }
}

// label{
//     width: 100%;
// }
@media (min-width: 576px) {
    .form-inline .form-control {
        width: 100%;
    }
}

.btn-blanco {
    margin-bottom: 10px;
    width: 100%;
    height: 38px;
    padding: 0px 16px 0px 28px;
    border: 1px solid #3a4454;
    border-radius: 4px;
    background-color: #ffffff;
    font-size: 17px;
    color: #3a4454;
    text-decoration: none solid rgb(58, 68, 84);
    text-align: center;
    @media (min-width: 768px) {
        margin-bottom: 0px;
        margin-top: 2pxpx;
        width: 280px;
        height: 38px;
        float: right;
    }
}

.align-button {
    text-align: center;
}

.align-button-alt {
    display: flex;
    justify-content: center;
}

table {
    th {
        background-color: #003c71;
        color: white;
        font-size: 0.9rem;
        border: 0;
    }
    td {
        color: #003c71 !important;
        vertical-align: middle !important;
        border-top: 1px solid #dee2e6;
        .btn-primary {
            width: 150px;
            height: 45px;
            padding: 10px 20px;
        }
    }
}

tbody,
tr,
td {
    font-size: .85rem!important;
}

.card-header {
    background-color: #fafafa !important;
    img.caret {
        max-width: 28px;
        max-height: 28px;
    }
}

.hiddenFileInput {
    display: none;
}

// .file-input-label-text {
//     font-family: Lato;
//     font-size: 12px;
//     color: #556176;
// }
.ibox-tools {
    display: block;
    float: left;
    margin-top: 0;
    padding: 0;
    margin-left:10px;
    margin-right:10px;
}

.ibox-title .label {
    margin-left: 4px;
}
.status-mobile{
    display:block;
    width:100%;
    margin-top:10px;
}

.emitida {
    background-color: #950247;
    color: #F8F3F6;
}

.proceso {
    background-color: #46868F;
    color: #F4FAF9;
}

.recibida {
    background-color: #00A2DF;
    color: #F1FAFE;
}

.iniciada {
    background-color: #AEB5AF;
    color: #FDFEFF;
}

.label {
    font-weight: 600;
    padding: 3px 8px;
    text-shadow: none;
    border-radius: 0.25em;
    line-height: 1;
    white-space: nowrap;
}
.container-filter{
    padding: 5px;
    text-align:center;
}
.criterio-busqueda{
    color:#003c71;
    font-size:18px;
    font-weight:bold;
}
.container-filter .item, .container-filter .field-item{
    margin-right: 10px;
}

.field-item{
    height: 40px;
    padding-right:10px;
    font-size:0.8em;
}
.badge-general{
    background-color: #003c71!important;
}
.badge-date{
    background-color: #3a4454!important
}
.badge-insuranceType{
    background-color: #007a53!important
}
.badge-status{
    background-color: #003c71!important
}
.show-small{
    display:none;
}
.btn-action{
    display:inline-block;
    color:white;
    width:20px;
    margin:0px 3px;
    cursor: pointer;
}
.btn-blue{
    background-color:#003c71;
}
.btn-green{
    background-color: #007a53
}
.btn-action i{
    font-size:15px;
    padding: 5px;
}
.btn-green i, .btn-blue i{
    color:white;
}
.btn-none{
    background-color:white;
    color:black;
}
.btn-none i{
    color:black;
}
.btn-action-container{
    min-width:90px;
    text-align:center;
}
.btn-action a{
    color:#003c71;
    text-decoration:none;  
}

@media (max-width: 991px) {
    .hidden-small{
        display:none;
    }
    .show-small{
        display:inline-block;
    }
    .field-item{
        margin-bottom:10px;
    }
    .table-insurance tr th{
        font-size:0.8em!important;
        vertical-align: middle;
    }
    .table-insurance tr td{
        font-size:0.8em!important;
    }
}