<section *ngIf="!isLoading" class="polizas">

    <ng-template #content let-modal>
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true" style="color: #556176;">&times;</span>
          </button>
        </div>
        <ng-template [ngIf]="isLoading">
          <bsp-loader></bsp-loader>
        </ng-template>
        <div *ngIf="!isLoading" class="modal-body">
            <form [formGroup]="forma">
                <div class="container">
                        <p class="subtitulo mb-4">
                            Por favor completa los siguientes datos de la solicitud del seguro para emitir la Póliza.
                        </p>
                        <div class="row mt-5 pl-5 pr-5">
                            <div class="col-md-12 mb-5">
                              <label for="">Número de Póliza</label>
                              <input
                                type="text"
                                class="form-control"
                                [ngClass]="{
                                  'is-invalid': invalid('policyNumber', forma),
                                  'is-valid': valid('policyNumber', forma)
                                }"
                                formControlName="policyNumber"
                              />
                              <div *ngIf="invalid('policyNumber', forma)" class="invalid-feedback">
                                Por favor ingrese el número de Póliza.
                              </div>
                              <div *ngIf="valid('policyNumber', forma)" class="valid-feedback">
                                ¡Excelente!
                              </div>
                            </div>
                            <div class="col-md-12 mb-5">
                                <label for="">Enlace (Opcional)</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  [ngClass]="{
                                    'is-invalid': invalid('policyUrl', forma),
                                    'is-valid': valid('policyUrl', forma)
                                  }"
                                  formControlName="policyUrl"
                                />
                                <div *ngIf="invalid('policyUrl', forma)" class="invalid-feedback">
                                  Por favor ingrese una dirección url valida. <br /> Ejemplo: Banesco.com.pa
                                </div>
                                <div *ngIf="valid('policyUrl', forma)" class="valid-feedback">
                                  ¡Excelente!
                                </div>
                            </div>

                            <div class="col-md-12 mb-5">
                                <div class="form-group">
                                    <label for="">Póliza (Opcional)</label>
                                    <div style="display:block;" >
                                        <button class="btn-dashboard m-0" 
                                        style="cursor: pointer;color:#ffffff;font-size: 13.6px;" 
                                        (click)="fileInput_0.click()" >
                                        <ng-template [ngIf]="!attachment.name"><i class="fa fa-plus mr-1" ></i> Adjuntar documento</ng-template>
                                        <ng-template [ngIf]="invalid('policyFile', forma)"><i class="fa fa-plus mr-1" ></i> Adjuntar documento</ng-template>
                                        <ng-template [ngIf]="valid('policyFile', forma) && attachment.name"><i class="fa fa-plus mr-1" ></i> Cambiar Adjunto</ng-template>
                                    </button>
                                    </div>
                                    <input formControlName="policyFile" #fileInput_0 type="file" name="img" [ngClass]="{'is-invalid': invalid('policyFile', forma),'is-valid': valid('policyFile', forma)}" class="hiddenFileInput form-control" (change)="addFile($event.target.files)">
                                    <div *ngIf="invalid('policyFile', forma)" class="invalid-feedback">
                                    Por favor ingrese un documento PDF Valido.
                                    </div>
                                    <div *ngIf="valid('policyFile', forma) && attachment.name" class="valid-feedback">
                                    El Documento '{{ attachment.name }}' ha sido adjuntado!
                                    </div>
                                </div>
                            </div>  
                        </div>      
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary centrado" (click)="submit()"> EMITIR POLIZA </button>
        </div>
      </ng-template>


    <div class="container">
        <div class="row my-5">
            <div class="col-md-12">
                <h1 class="titulo">Lista de Solicitudes</h1>
                <p *ngIf="requests.length > 0" class="subtitulo">A continuación se muestra la lista de todas las solicitudes que han aplicado por una póliza.</p>
                <p *ngIf="requests.length === 0" class="subtitulo">No existen solicitudes creadas actualmente.</p>
            </div>
        </div>
        <ng-template [ngIf]="requests.length === 0">
            <div class="row align-items-center" style="height:350px">
                <div class="col-md-12 d-flex justify-content-center">
                    <button class="btn-primary" [routerLink]="['/']">Volver al Inicio</button>
                </div>
            </div>
        </ng-template>
        <ng-template [ngIf]="requests.length > 0">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Nº</th>
                                    <th scope="col">Solicitante</th>
                                    <th scope="col">Fecha de solicitud</th>
                                    <th scope="col">Tipo de Póliza</th>
                                    <th scope="col">Precio</th>
                                    <th style="text-align:center" scope="col">Estatus</th>
                                    <th style="text-align:center" scope="col">Póliza</th>
                                    <th style="text-align:center" scope="col">Acciones</th>
                                    <!-- <th style="text-align:center" scope="col">Descargar</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let request of requests | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize ;let i=index;">
                                    <td><strong>Nº {{request.number}} BSP-SL</strong></td>
                                    <td>
                                        <p *ngIf="request?.insured?.name">{{request?.insured?.name}} {{request?.insured?.lastName}}</p>
                                        <p *ngIf="request?.insured?.email">{{request?.insured?.email}}</p>
                                        <p *ngIf="request?.insured?.cellphone">{{request?.insured?.cellphone}}</p>
                                        <p *ngIf="request?.insured?.localNumber">{{request?.insured?.localNumber}}</p>
                                        <p *ngIf="!request?.insured?.name && !request?.insured?.email && !request?.insured?.cellphone && !request?.insured?.localNumber">N/A</p>
                                    </td>
                                    <td>{{request?.createdAt.iso | date: 'dd/MM/yyyy'}}</td>
                                    <td>{{request?.insurance?.type}}</td>
                                    <td>{{request?.insurance?.coverageDetail?.monthlyPrime | currency}}</td>
                                    <td class="align-items-center">
                                        <div class="row justify-content-center">
                                            <div class="ibox-tools">
                                                <span class="label float-right" [ngClass]="{'recibida': request.status === 'Recibida','emitida': request.status === 'Emitida','proceso': request.status === 'En Proceso'}">{{request?.status}}</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="{{request?.policyFile ? 'align-button' : ''}}">
                                        <!-- INPUT #0 -->
                                        <div *ngIf="!request?.policyFile" class="input-container justify-content-center d-flex">
                                            <div *ngIf="!isLoadingFile" class="p-0">
                                            </div>
                                            <div *ngIf="isLoadingFile === request" class="btn-dashboard m-0">
                                                <label class="p-0" style="cursor: pointer;color:#ffffff;font-size: 13.6px;">Cargando adjunto...</label>
                                            </div>
                                            <div *ngIf="!isLoadingFile" class="btn-dashboard m-0">
                                                <ng-template [ngIf]="true">
                                                    <label class="m-0" (click)="openSm(content, request)" style="cursor: pointer;color:#ffffff;font-size: 13.6px;">Adjuntar Póliza</label>
                                                </ng-template>
                                            </div>
                                        </div>
                                        <a *ngIf="request?.policyFile" [href]="request.policyFile" class="btn-dashboard" target="_blank">Ver Póliza</a>
                                    </td>
                                    <td class="align-items-center">
                                        <div class="d-flex justify-content-center">
                                            <div class="d-flex justify-content-center">
                                                <a [routerLink]="[ routerLinkVariable,request.id]" class="btn-dashboard" target="_blank">Ver Detalle</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="d-flex col-6 justify-content-start p-2">
                            <ngb-pagination class="mr-4" [collectionSize]="collectionSize" [(page)]="page" [directionLinks]="false"></ngb-pagination>
                            <select class="custom-select" style="width: auto" [value]="5" [(ngModel)]="pageSize">
                                    <option [value]="5">5 registros</option>
                                  <option [value]="10">10 registros</option>
                                  <option [value]="20">20 registros</option>
                                </select>
                        </div>
                        <div class="col-6 d-flex">
                            <button style="max-height:45px !important" (click)="getRequestWithDependents()" class="btn-primary col-4 ml-auto">
                                    Descargar en excel
                                </button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</section>
<ng-template [ngIf]="isLoading">
    <bsp-loader></bsp-loader>
</ng-template>