dt {
  font-size: 14px;
  color: #5b5b5f;
  text-decoration: none solid rgb(91, 91, 95);
}

dd {
  font-size: 14px;
  color: #708090;
  text-decoration: none solid rgb(112, 128, 144);
}

#backToRRHH {
  font-size: 14px;
  font-weight: 600;
  color: #1c8464;
  text-decoration: none solid rgb(28, 132, 100);
}