<section *ngIf="!isLoading" class="insurance-detail">
  <h3 class="titulo">Datos de la póliza y del asegurado</h3>
  <div class="container">
    <div
      class="pull-left float-left titulo-accordion my-4"
      style="margin-left: -15px;vertical-align: middle;color:#003c71"
    >
      <span class="btn-back" (click)="goBack()">
        <i class="fa fa-chevron-left mr-2" ></i>
      </span>
      Información de la póliza
    </div>
    <div class="row col-md-12 justify-content-center">
      <div class="cuadrado top">
        <div class="superior" ngClass="{'pt-0' : request.policyNumber }">
          <div class="container">
            <div class="row">
              <ng-template [ngIf]="request.policyNumber">
              <div class="col-md-12 text-center mt-0 mb-4 inferior">
                <p>Número de Póliza</p>
                <h2>{{ request.policyNumber }}</h2>
              </div>
              </ng-template>
              <div class="col-md-12">
                <h5
                  style="
                    font-weight: 700;
                    font-size: 14px !important;
                    text-align: end;
                    color: #556176;
                  "
                >
                  3 cuotas mensuales de:
                </h5>
              </div>
              <div class="col-md-12">
                <h4 class="xmes">
                  USD {{request?.insurance?.coverageDetail?.monthlyPrime}}
                </h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <img
                  src="../../../../../../assets/img/icono2.png"
                  alt=""
                  class=""
                />
              </div>
            </div>
          </div>
        </div>

        <div class="inferior">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-md-12">
                <p class="text-center">Suma asegurada</p>
                <h2 class="text-center">
                  USD {{(request?.insurance?.coverageDetail?.insuredAmount |
                  number:'1.0-0')}}
                </h2>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <button class="btn ver-detalle" (click)="openSm(content, request?.insurance)">
                <img
                  src="https://res.cloudinary.com/merchanj/image/upload/v1559177569/Banesco_Seguros_Panama/AP/flechita.svg"
                  alt=""
                />
                Ver detalles
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <accordion *ngIf="!true">
      <accordion-group [panelClass]="customClass" [isOpen]="isFirstOpen">
        <button class="btn btn-link btn-block clearfix" accordion-heading>
          <div
            class="pull-left float-left titulo-accordion"
            style="margin-left: -15px;color:#003c71"
          >
            <i class="fas fa-angle-down"></i> Datos del solicitante
          </div>
        </button>
        <div class="row">
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Nombre:</h5>
            <p class="mayu">{{request?.contractor?.name}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Apellido:</h5>
            <p class="mayu">{{request?.contractor?.lastName}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Provincia:</h5>
            <p class="mayu">{{request?.contractor?.province?.name}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Distrito:</h5>
            <p class="mayu">{{request?.contractor?.district?.name}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Corregimiento:</h5>
            <p class="mayu">{{request?.contractor?.corregimiento?.name}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Barriada / Urbanización:</h5>
            <p class="mayu">{{request?.contractor?.neighborhood}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Calle / Avenida:</h5>
            <p class="mayu">{{request?.contractor?.street}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Casa / Apartamento:</h5>
            <p class="mayu">{{request?.contractor?.building}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Teléfono:</h5>
            <p class="mayu">{{request?.contractor?.cellphone}}</p>
          </div>
        </div>
    </accordion-group>
    </accordion>

    <accordion *ngIf="!request.insured.same">
      <accordion-group [panelClass]="customClass" [isOpen]="isFirstOpen">
        <button class="btn btn-link btn-block clearfix" accordion-heading>
          <div
            class="pull-left float-left titulo-accordion"
            style="margin-left: -15px;color:#003c71"
          >
            <i class="fas fa-angle-down"></i> Datos del asegurado principal
          </div>
        </button>
        <div class="row">
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Primer Nombre:</h5>
            <p class="mayu">{{request?.insured?.name}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Segundo Nombre:</h5>
            <p class="mayu">{{request?.insured?.secondname}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Primer Apellido:</h5>
            <p class="mayu">{{request?.insured?.lastName}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Segundo Apellido:</h5>
            <p class="mayu">{{request?.insured?.secondLastName}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Cédula/Pasaporte:</h5>
            <p class="mayu">{{request?.insured?.document}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Sexo:</h5>
            <p class="mayu">{{request?.insured?.gender}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Fecha de nacimiento:</h5>
            <p class="mayu">
              {{request?.insured?.birthday?.iso | date: 'dd/MM/yyyy'}}
            </p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Estado civil:</h5>
            <p class="mayu">{{request?.insured?.civilStatus}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> País de nacimiento:</h5>
            <p class="mayu">{{request?.insured?.country?.name}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Nacionalidad:</h5>
            <p class="mayu">{{request?.insured?.nationality?.name}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Profesión:</h5>
            <p class="mayu">{{request?.insured?.profession}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Ocupación:</h5>
            <p class="mayu">{{request?.insured?.occupation?.name}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Empresa donde labora:</h5>
            <p class="mayu">{{request?.insured?.company}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Deportes que práctica:</h5>
            <p class="mayu">{{request?.insured?.sports}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Ingreso mensual:</h5>
            <p>{{request?.insured?.monthlyIncome}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Provincia:</h5>
            <p class="mayu">{{request?.insured?.province?.name}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Distrito:</h5>
            <p class="mayu">{{request?.insured?.district?.name}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Corregimiento:</h5>
            <p class="mayu">{{request?.insured?.corregimiento?.name}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Barriada / Urbanización:</h5>
            <p class="mayu">{{request?.insured?.neighborhood}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Calle / Avenida:</h5>
            <p class="mayu">{{request?.insured?.street}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Casa / Apartamento:</h5>
            <p class="mayu">{{request?.insured?.building}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Teléfono residencial:</h5>
            <p class="mayu">{{request?.insured?.localNumber}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Teléfono celular:</h5>
            <p class="mayu">{{request?.insured?.cellphone}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Teléfono de Oficina:</h5>
            <p class="mayu">{{request?.insured?.officeNumber}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Correo Electrónico:</h5>
            <p class="mayu">{{request?.insured?.email}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Tax ID Number E.E.U.U:</h5>
            <p class="mayu">{{request?.insured?.taxIdentificationNumber}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Referencia de Pago:</h5>
            <p class="mayu">{{request?.paymentInformation?.transaction_id}}</p>
          </div>
        </div>
    </accordion-group>
    </accordion>

    <accordion *ngIf="request.insured.same">
      <accordion-group [panelClass]="customClass" [isOpen]="isFirstOpen">
        <button class="btn btn-link btn-block clearfix" accordion-heading>
          <div
            class="pull-left float-left titulo-accordion"
            style="margin-left: -15px;color:#003c71"
          >
            <i class="fas fa-angle-down"></i> Datos del contratante como
            asegurado principal
          </div>
        </button>
        <div class="row">
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Primer Nombre:</h5>
            <p class="mayu">{{request?.insured?.name}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Segundo Nombre:</h5>
            <p class="mayu">{{request?.insured?.secondName}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Primer Apellido:</h5>
            <p class="mayu">{{request?.insured?.lastName}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Segundo Apellido:</h5>
            <p class="mayu">{{request?.insured?.secondLastName}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Cédula/Pasaporte:</h5>
            <p class="mayu">{{request?.insured?.document}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Sexo:</h5>
            <p class="mayu">{{request?.insured?.gender}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Fecha de nacimiento:</h5>
            <p class="mayu">
              {{request?.insured?.birthday.iso | date: 'dd/MM/yyyy'}}
            </p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Estado civil:</h5>
            <p class="mayu">{{request?.insured?.civilStatus}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Lugar de nacimiento:</h5>
            <p class="mayu">{{request?.insured?.country.name}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Nacionalidad:</h5>
            <p class="mayu">{{request?.insured?.nationality.name}}</p>
          </div>
          <ng-template [ngIf]="request.insurance.type == 'accidentes-personales'">
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Profesión:</h5>
            <p class="mayu">{{request?.insured?.profession}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Ocupación:</h5>
            <p class="mayu">{{request?.insured?.occupation.name}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Empresa donde labora:</h5>
            <p class="mayu">{{request?.insured?.company}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Ingreso mensual:</h5>
            <p>{{request?.insured?.monthlyIncome}}</p>
          </div>
          </ng-template>
          <ng-template [ngIf]="request.insurance.type == 'cancer'">
            <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5 title="Padece Enfermedad Cancer, Sida, Lupus o Hepatitis B"><i class="fas fa-minus"></i> ¿Padece Enfermedad? :</h5>
            <p>{{(request?.insured?.hasDiseases)?'Si':'No' }}</p>
            </div>
          </ng-template>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Deportes que práctica:</h5>
            <p class="mayu">{{request?.insured?.sports}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Provincia:</h5>
            <p class="mayu">{{request?.insured?.province.name}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Distrito:</h5>
            <p class="mayu">{{request?.insured?.district.name}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Corregimiento:</h5>
            <p class="mayu">{{request?.insured?.corregimiento.name}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Barriada / Urbanización:</h5>
            <p class="mayu">{{request?.insured?.neighborhood}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Calle / Avenida:</h5>
            <p class="mayu">{{request?.insured?.street}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Casa / Apartamento:</h5>
            <p class="mayu">{{request?.insured?.building}}</p>
          </div>
          <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
            <h5><i class="fas fa-minus"></i> Teléfono celular:</h5>
            <p class="mayu">{{request?.insured?.cellphone}}</p>
          </div>
            <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
              <h5><i class="fas fa-minus"></i> Teléfono oficina:</h5>
              <p class="mayu">{{request?.insured?.officeNumber}}</p>
            </div>
            <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
              <h5><i class="fas fa-minus"></i> Tax ID Number E.E.U.U. :</h5>
              <p class="mayu">{{request?.insured?.taxIdentificationNumber}}</p>
            </div>
            <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
              <h5><i class="fas fa-minus"></i> Referencia de Pago:</h5>
              <p class="mayu">{{request?.paymentInformation?.transaction_id}}</p>
            </div>
        </div>
      </accordion-group>
    </accordion>
    <ng-template [ngIf]="request.insured.documentFile">
        <accordion>
        <accordion-group [panelClass]="customClass" [isOpen]="isFirstOpen">
            <button class="btn btn-link btn-block clearfix" accordion-heading>
            <div
                class="pull-left float-left titulo-accordion"
                style="margin-left: -15px;"
            >
                <i class="fas fa-angle-down"></i> Datos Adjuntos Requeridos
            </div>
            </button>
            <div class="row">
            <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                <h5><i class="fas fa-minus"></i> Cédula / Pasaporte </h5>
                <p class="mayu">
                <a
                    href="{{ request.insured.documentFile }}"
                    download="{{ getFileInfo(request.insured.documentFile).url }}"
                    target="_blank"
                >
                    <ng-template [ngIf]="getFileInfo(request.insured.documentFile).isImage">
                    <img alt="logo" style="max-width:260px;object-fit: cover;" src="{{ getFileInfo(request.insured.documentFile).url }}" />
                    </ng-template>
                    <ng-template [ngIf]="!getFileInfo(request.insured.documentFile).isImage">
                        <img src="../../../../../../assets/img/pdf-logo.png" />
                    </ng-template>
                    <br />
                    <span style="text-transform: capitalize;">Ver Documento</span>
                </a>
                </p>
            </div>
            </div>
        </accordion-group>
        </accordion>
    </ng-template>
  </div>
</section>
<ng-template [ngIf]="isLoading">
  <bsp-loader></bsp-loader>
</ng-template>
<ng-template #content let-modal>
  <div class="modal-header">
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true" style="color: #556176;">&times;</span>
    </button>
  </div>
  <ng-template [ngIf]="isLoading">
    <bsp-loader></bsp-loader>
  </ng-template>
  <div *ngIf="!isLoading" class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <!-- -->
        </div>
        <div class="col-md-6">
          <img
            src="../../../../../../assets/img/menor.png"
            alt=""
            class=""
          />
        </div>
      </div>
      <ng-template [ngIf]="actualCoverage.type === 'accidentes-personales'">
        <div class="row">
          <div class="col-md-12">
            <h4 class="h4-verde" style="color:#003c71">Cobertura completa: </h4>
            <p style="color:#556176">Los porcentajes indican la porción del monto asegurado <br> que te será entregado o a los beneficiarios del seguro<br>en caso de algún accidente de los detallados en la parte inferior.</p>
  
            <div class="container cober coverage">
              <div class="position-relative">
                <div class="bolita"></div>
                <accordion>
                  <accordion-group #muerte [panelClass]="customClass" [isOpen]="isFirstOpen">
                    <button class="btn btn-link btn-block clearfix" accordion-heading>
                      <div class="pull-left float-left lix">Muerte Accidental</div>
                      <div *ngIf="!muerte.isOpen" class="float-right">
                        <img
                          src="https://res.cloudinary.com/merchanj/image/upload/v1559937359/Banesco_Seguros_Panama/AP/arrow3.png"
                          alt="" class="arrow2">
                      </div>
                      <div *ngIf="muerte.isOpen" class="float-right">
                        <img
                          src="https://res.cloudinary.com/merchanj/image/upload/v1559177569/Banesco_Seguros_Panama/AP/arrow2.svg"
                          alt="" class="arrow2">
                      </div>
                      <div class="porcentaje">
                        {{actualCoverage.coverageDetail.accidentalDeath}}%
                      </div>
                    </button>
                    <p>Si el asegurado muere en un accidente, a los beneficiarios se les pagará el monto asegurado que
                      contrató (indemnización). Ej.: accidentes de tránsito, sucesos imprevistos, homicidios dolosos y
                      culposos.
                    </p>
                  </accordion-group>
                </accordion>
              </div>
  
              <div class="position-relative">
                <div class="bolita"></div>
                <accordion>
                  <accordion-group #funerarios [panelClass]="customClass">
                    <button class="btn btn-link btn-block clearfix" accordion-heading>
                      <div class="pull-left float-left lix">Adelantos de Gastos Funerarios</div>
                      <div *ngIf="!funerarios.isOpen" class="float-right">
                        <img
                          src="https://res.cloudinary.com/merchanj/image/upload/v1559937359/Banesco_Seguros_Panama/AP/arrow3.png"
                          alt="" class="arrow2">
                      </div>
                      <div *ngIf="funerarios.isOpen" class="float-right">
                        <img
                          src="https://res.cloudinary.com/merchanj/image/upload/v1559177569/Banesco_Seguros_Panama/AP/arrow2.svg"
                          alt="" class="arrow2">
                      </div>
                      <div class="porcentaje">
                        {{actualCoverage.coverageDetail.funeraryAdvances}}%
                      </div>
  
                    </button>
                    <p>Adelantamos hasta el 25% del monto asegurado de los gastos funerarios a los beneficiarios cuando ocurre la muerte accidental del asegurado hasta un límite de USD 5,000. Ej.: si tu monto asegurado por muerte accidental es USD 10,000 te adelantamos hasta USD 2,500.</p>
                  </accordion-group>
                </accordion>
              </div>
  
              <div class="position-relative">
                <div class="bolita"></div>
                <accordion>
                  <accordion-group #doble [panelClass]="customClass">
                    <button class="btn btn-link btn-block clearfix" accordion-heading>
                      <div class="pull-left float-left lix">Doble indemnización por Muerte Accidental Específico</div>
                      <div *ngIf="!doble.isOpen" class="float-right">
                        <img
                          src="https://res.cloudinary.com/merchanj/image/upload/v1559937359/Banesco_Seguros_Panama/AP/arrow3.png"
                          alt="" class="arrow2">
                      </div>
                      <div *ngIf="doble.isOpen" class="float-right">
                        <img
                          src="https://res.cloudinary.com/merchanj/image/upload/v1559177569/Banesco_Seguros_Panama/AP/arrow2.svg"
                          alt="" class="arrow2">
                      </div>
                      <div class="porcentaje">
                        {{actualCoverage.coverageDetail.dobleCompensation}}%
                      </div>
                    </button>
                    <p>Duplicamos el monto asegurado por muerte accidental mientras el asegurado se transporta en un vehículo público (autobús, metro, taxi, etc) o si se ve envuelto en un incendio en algún edificio público (hotel, museo, cine, teatro, etc).</p>
                  </accordion-group>
                </accordion>
              </div>
  
              <div class="position-relative">
                <div class="bolita"></div>
                <accordion>
                  <accordion-group #gastos [panelClass]="customClass">
                    <button class="btn btn-link btn-block clearfix" accordion-heading>
                      <div class="pull-left float-left lix">Gastos Médicos por Accidentes</div>
                      <div *ngIf="!gastos.isOpen" class="float-right">
                        <img
                          src="https://res.cloudinary.com/merchanj/image/upload/v1559937359/Banesco_Seguros_Panama/AP/arrow3.png"
                          alt="" class="arrow2">
                      </div>
                      <div *ngIf="gastos.isOpen" class="float-right">
                        <img
                          src="https://res.cloudinary.com/merchanj/image/upload/v1559177569/Banesco_Seguros_Panama/AP/arrow2.svg"
                          alt="" class="arrow2">
                      </div>
                      <div class="porcentaje">
                        {{actualCoverage.coverageDetail.medicalExpenses}}%
                      </div>
                    </button>
                    <p>Cobertura complementaria donde te reembolsamos hasta un 10% del monto asegurado para gastos médicos incurridos por accidentes hasta un límite de USD 1,000.</p>
                  </accordion-group>
                </accordion>
              </div>
  
              <div class="position-relative">
                <div class="bolita"></div>
                <accordion>
                  <accordion-group #permanente [panelClass]="customClass">
                    <button class="btn btn-link btn-block clearfix" accordion-heading>
                      <div class="pull-left float-left lix">Invalidez Permanente (Total o Parcial)</div>
                      <div *ngIf="!permanente.isOpen" class="float-right">
                        <img
                          src="https://res.cloudinary.com/merchanj/image/upload/v1559937359/Banesco_Seguros_Panama/AP/arrow3.png"
                          alt="" class="arrow2">
                      </div>
                      <div *ngIf="permanente.isOpen" class="float-right">
                        <img
                          src="https://res.cloudinary.com/merchanj/image/upload/v1559177569/Banesco_Seguros_Panama/AP/arrow2.svg"
                          alt="" class="arrow2">
                      </div>
                      <div class="porcentaje">
                        {{actualCoverage.coverageDetail.permanentInhability}}%
                      </div>
                    </button>
                    <p>Cubrimos un porcentaje del monto total según el grado de discapacidad que pudiera presentar el asegurado a causa de un accidente sufrido.
                      <span class="tooltip-insure">Ver tipos de Invalidez
                        <span class="tooltiptext">
                          <b>INVALIDEZ TOTAL Y PERMANENTE (%)</b>
                          <ul>
                            <li>Lesiones en la médula espinal que imposibilitan permanentemente caminar o parálisis completa. (100%)</li>
                            <li>Pérdida de la razón absoluta e incurable. (100%)</li>
                            <li>Ceguera absoluta de ambos ojos (100%)</li>
                            <li>Pérdida por amputación o inutilización absoluta de ambos brazos, ambas piernas, ambos pies o una mano conjuntamente con una pierna o un pie (100%)</li>
                          </ul>
                          <b>INVALIDEZ PARCIAL Y PERMANENTE (%)</b>
                          <ul>
                            <li>Sordera total bilateral (65%)</li>
                            <li>Pérdida del habla (60%)</li>
                            <li>Pérdida de un ojo totalmente. (50%)</li>
                            <li>Reducción de la visión de ambos ojos en más de 50% cada uno. (50%)</li>
                            <li>Pérdida de la visión de un ojo. (40%)</li>
                            <li>Pérdida total del maxilar inferior o ablación total de la mandíbula. (40%)</li>
                            <li>Pérdida total del olfato o del gusto. (30%)</li>
                            <li>Sordera total unilateral. (35%)</li>
                            <li>Pérdida total de un brazo o una mano. (70%)</li>
                            <li>Pérdida total de un dedo pulgar o índice. (30%)</li>
                            <li>Pérdida total de cualquier otro dedo de una mano. (20%)</li>
                            <li>Pérdida de una falange del dedo pulgar. (15%)</li>
                            <li>Pérdida de cada falange de cualquier otro dedo. (5%)</li>
                            <li>Pérdida total del movimiento del hombro o del codo (40%)</li>
                            <li>Fractura mal consolidada de un brazo, que afecte su movilidad. (30%)</li>
                            <li>Fractura mal consolidada del antebrazo, que afecte la movilidad de los dos huesos. (30%)</li>
                            <li>Fractura mal consolidada del antebrazo, que afecte la movilidad de un solo hueso.  (20%)</li>
                            <li>Pérdida total por amputación o inutilización de una pierna por encima de la rodilla. (70%)</li>
                            <li>Pérdida total por amputación o inutilización de una pierna por debajo de la rodilla o de un pie. (60%)</li>
                            <li>Pérdida total por amputación o inutilización del dedo gordo del pie. (20%)</li>
                            <li>Pérdida total por amputación o inutilización de cualquier otro dedo del pie. (15%)</li>
                            <li>Pérdida total del movimiento de la cadera. (65%)</li>
                            <li>Pérdida total del movimiento de la rodilla. (50%)</li>
                            <li>Pérdida total de los movimientos del tobillo. (30%)</li>
                            <li>Pérdida total de los movimientos de la articulación subastragalina (20%)</li>
                            <li>Fractura mal consolidada del fémur o de los huesos de la pierna que afecte su movilidad. (50%)</li>
                            <li>Fractura mal consolidada de un pie que afecte su movilidad. (30%)</li>
                          </ul>
                        </span>
                      </span>
                    </p>
                  </accordion-group>
                </accordion>
              </div>
  
              <div class="position-relative">
                <div class="bolita"></div>
                <accordion>
                  <accordion-group #emergencia [panelClass]="customClass">
                    <button class="btn btn-link btn-block clearfix" accordion-heading>
                      <div class="pull-left float-left lix">Servicio de Emergencia Médica por Accidente</div>
                      <div *ngIf="!emergencia.isOpen" class="float-right">
                        <img
                          src="https://res.cloudinary.com/merchanj/image/upload/v1559937359/Banesco_Seguros_Panama/AP/arrow3.png"
                          alt="" class="arrow2">
                      </div>
                      <div *ngIf="emergencia.isOpen" class="float-right">
                        <img
                          src="https://res.cloudinary.com/merchanj/image/upload/v1559177569/Banesco_Seguros_Panama/AP/arrow2.svg"
                          alt="" class="arrow2">
                      </div>
                      <div class="porcentaje">
                        {{actualCoverage.coverageDetail.emergencyService}}%
                      </div>
                    </button>
                    <p>Cuentas con un servicio de ambulancia por emergencia y urgencia médica sin costo adicional, así
                      como con atención médica a domicilio para casos no urgentes mediante un copago. (ver Términos y
                      Condiciones a continuación).</p>
                  </accordion-group>
                </accordion>
              </div>
  
              <div class="position-relative">
                <div class="bolita"></div>
                <accordion>
                  <accordion-group #viajes [panelClass]="customClass">
                    <button class="btn btn-link btn-block clearfix" accordion-heading>
                      <div class="pull-left float-left lix">Asistencia en Viajes</div>
                      <div *ngIf="!viajes.isOpen" class="float-right">
                        <img
                          src="https://res.cloudinary.com/merchanj/image/upload/v1559937359/Banesco_Seguros_Panama/AP/arrow3.png"
                          alt="" class="arrow2">
                      </div>
                      <div *ngIf="viajes.isOpen" class="float-right">
                        <img
                          src="https://res.cloudinary.com/merchanj/image/upload/v1559177569/Banesco_Seguros_Panama/AP/arrow2.svg"
                          alt="" class="arrow2">
                      </div>
                      <div class="porcentaje">
                        {{actualCoverage.coverageDetail.travelAssistance}}%
                      </div>
                    </button>
                    <p>Estamos para apoyarte más allá de nuestras fronteras. Si debes alojarte en un hotel o cancelar tu viaje por indicación médica, asumimos la estadía y te traemos de vuelta a casa con tu acompañante. Asimismo, en caso de fallecimiento en el extranjero, ofrecemos el servicio para traerte de vuelta a casa (repatriación).</p>
                  </accordion-group>
                </accordion>
              </div>
  
            </div>
          </div>
        </div>
        </ng-template>
        <ng-template [ngIf]="actualCoverage.type === 'cancer'">
          <div class="row">
            <div class="col-md-12">
              <h4 class="h4-verde" style="color:#003c71">Protección contra Cáncer</h4>
              <p style="color:#556176">
                En caso que recibas un diagnóstico de cáncer por primera vez <br />
                en tu vida se te entregará el monto total asegurado. <br />
                Ej.: Si eres diagnosticado como paciente de cáncer <br />
                te entregamos el monto total asegurado por USD {{actualCoverage.coverageDetail.insuredAmount | number:'1.0-0'}}<br />
                o en caso de fallecimiento del asegurado se le entregará <br />
                el monto total a los beneficiarios designados. <br />
              </p>
            </div>
          </div>
        </ng-template>
    </div>
  </div>
  <div class="modal-footer">
    <button
      class="btn btn-primary centrado"
      (click)="modal.dismiss('Cross click')"
    >
      CERRAR
    </button>
  </div>
</ng-template>
