<section *ngIf="!isLoading" class="insurance-detail">
    <h3 class="titulo">Datos de la póliza y del asegurado</h3>
<div class="container">
        <div class="pull-left float-left titulo-accordion my-4" style="margin-left:-15px;">
            Información de la poliza
        </div>
        <div class="row col-md-12 justify-content-center">
                <div class="cuadrado top">
                  <div class="superior">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-12">
                            <h4 class="xmes">${{request.insurance.coverageDetail.monthlyPrime}}</h4>
                        </div>
                      </div>
                        <div class="row">
                            <div class="col-md-12">
                              <img src="assets/img/icono1.png" alt="" class="">
                            </div>
                        </div>
                    </div>
                  </div>

                  <div class="inferior">
                    <div class="container">
                        <div class="row">
                          <div class="col-xs-12 col-md-12">
                              <p class="text-center">Suma asegurada</p>
                              <h2 class="text-center">$40.000</h2>
                          </div>
                        </div>
                    </div>
                  </div>
      
                  <div class="inferior">
                    <div class="container">
                        <div class="row">
                          <div class="col-xs-12 col-md-12">
                            <h5>ACCIDENTES PERSONALES</h5>
                              <p>Adelanto de gastos funerarios: 
                                <span>
                                  {{ request.insurance.coverageDetail.funeraryAdvances !== undefined  &&
                                      request.insurance.coverageDetail.funeraryAdvances !== null ?
                                      ('$' + request.insurance.coverageDetail.funeraryAdvances) : 'N/A' }}
                                </span>
                              </p>
                              <p>Muerte Accidental: 
                                <span>
                                  {{ request.insurance.coverageDetail.accidentalDeath !== undefined  &&
                                      request.insurance.coverageDetail.accidentalDeath !== null ?
                                      ('$' + request.insurance.coverageDetail.accidentalDeath) : 'N/A' }}
                                </span>
                              </p>
                              <p>Incapacidad profesional u Ocupacional:
                                <span>
                                   {{ request.insurance.coverageDetail.professionalInhability !== undefined  &&
                                      request.insurance.coverageDetail.professionalInhability !== null ?
                                      ('$' + request.insurance.coverageDetail.professionalInhability) : 'N/A' }}
                                </span>
                              </p>
                              <p>Gastos médicos: 
                                <span>
                                   {{ request.insurance.coverageDetail.medicalExpenses !== undefined  &&
                                      request.insurance.coverageDetail.medicalExpenses !== null ?
                                      ('$' + request.insurance.coverageDetail.medicalExpenses) : 'N/A' }}
                                </span>
                                
                              </p>
                              <p>Asistencia en viajes: 
                                <span>{{request.insurance.coverageDetail.travelAssistance ? 'Incluido' : 'No incluido'}}</span>
                              </p>
                          </div>
                        </div>
                    </div>
                  </div>
                  <div class="container">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                        <button class="btn ver-detalle" (click)="open(content)"><img src="assets/img/flechita.svg" alt=""> Ver detalles</button>
                      </div>
                    </div>
                  </div>
                </div>
        </div>
        <accordion>
            <accordion-group [panelClass]="customClass" [isOpen]="isFirstOpen">
                <button class="btn btn-link btn-block clearfix" accordion-heading>
                    <div class="pull-left float-left titulo-accordion" style="margin-left:-15px;">
                        <i class="fas fa-angle-down"></i> Información del usuario
                    </div>
                </button>
                <div class="row">
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Cedula / Pasaporte:</h5>
                        <p>{{request.user.document}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Ocupación:</h5>
                        <p>{{request.user.occupation.name ? request.user.occupation.name : request.user.occupation.id}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Edad:</h5>
                        <p>{{request.user.birthday}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Email:</h5>
                        <p>{{request.user.email}}</p>
                    </div>
                </div>
            </accordion-group>
        </accordion>

        <accordion *ngIf="!request.insured.same">
            <accordion-group [panelClass]="customClass" [isOpen]="isFirstOpen">
                <button class="btn btn-link btn-block clearfix" accordion-heading>
                    <div class="pull-left float-left titulo-accordion" style="margin-left:-15px;">
                        <i class="fas fa-angle-down"></i> Datos del solicitante
                    </div>
                </button>
                <div class="row">
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Nombre:</h5>
                        <p>{{request.contractor.name}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Apellido:</h5>
                        <p>{{request.contractor.lastName}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Provincia:</h5>
                        <p>{{request.contractor.province.name}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Distrito:</h5>
                        <p>{{request.contractor.district.name}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Corregimiento:</h5>
                        <p>{{request.contractor.corregimiento}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Barriada / Urbanización:</h5>
                        <p>{{request.contractor.neighborhood}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Calle / Avenida:</h5>
                        <p>{{request.contractor.street}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Casa / Apartamento:</h5>
                        <p>{{request.contractor.building}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Teléfono:</h5>
                        <p>{{request.contractor.cellphone}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Actividad económica:</h5>
                        <p>{{request.contractor.economicActivity.name}}</p>
                    </div>
                </div>
            </accordion-group>
        </accordion>

        <accordion *ngIf="!request.insured.same">
            <accordion-group [panelClass]="customClass" [isOpen]="isFirstOpen">
                <button class="btn btn-link btn-block clearfix" accordion-heading>
                    <div class="pull-left float-left titulo-accordion" style="margin-left:-15px;">
                        <i class="fas fa-angle-down"></i> Datos del asegurado principal
                    </div>
                </button>
                <div class="row">
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Nombres:</h5>
                        <p>{{request.insured.name}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Apellidos:</h5>
                        <p>{{request.insured.lastName}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Cédula/Pasaporte:</h5>
                        <p>{{request.insured.document}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Sexo:</h5>
                        <p>{{request.insured.gender}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Fecha de nacimiento:</h5>
                        <p>{{request.insured.birthday.iso | date: 'dd/MM/yyyy'}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Estado civil:</h5>
                        <p>{{request.insured.civilStatus}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Lugar de nacimiento (País/Provincia):</h5>
                        <p>{{request.insured.birthplace}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Nacionalidad:</h5>
                        <p>{{request.insured.nationality.name}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Profesión:</h5>
                        <p>{{request.insured.profession}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Ocupación:</h5>
                        <p>{{request.insured.occupation.name}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Empresa donde labora:</h5>
                        <p>{{request.insured.company}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Tiempo en esta ocupación:</h5>
                        <p>{{request.insured.occupationTime}} meses</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Descripción de funciones:</h5>
                        <p>{{request.insured.occupationDescription}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Otras ocupaciones:</h5>
                        <p>{{request.insured.otherOccupations}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Ocupaciones anteriores:</h5>
                        <p>{{request.insured.previousOccupations.name}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Deportes que práctica:</h5>
                        <p>{{request.insured.sports}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Ingreso mensual:</h5>
                        <p>{{request.insured.monthlyIncome}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Provincia:</h5>
                        <p>{{request.insured.province.name}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Distrito:</h5>
                        <p>{{request.insured.district.name}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Corregimiento:</h5>
                        <p>{{request.insured.corregimiento.name}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Barriada / Urbanización:</h5>
                        <p>{{request.insured.neighborhood}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Calle / Avenida:</h5>
                        <p>{{request.insured.street}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Casa / Apartamento:</h5>
                        <p>{{request.insured.building}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Teléfono residencial:</h5>
                        <p>{{request.insured.localNumber}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Teléfono celular:</h5>
                        <p>{{request.insured.cellphone}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Email</h5>
                        <p>{{request.insured.email}}</p>
                    </div>
                </div>
            </accordion-group>
        </accordion>

        <accordion *ngIf="request.insured.same">
            <accordion-group [panelClass]="customClass" [isOpen]="isFirstOpen">
                <button class="btn btn-link btn-block clearfix" accordion-heading>
                    <div class="pull-left float-left titulo-accordion" style="margin-left:-15px;">
                        <i class="fas fa-angle-down"></i> Datos del contratante como asegurado principal
                    </div>
                </button>
                <div class="row">
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Nombres:</h5>
                        <p>{{request.insured.name}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Apellidos:</h5>
                        <p>{{request.insured.lastName}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Cédula/Pasaporte:</h5>
                        <p>{{request.insured.document}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Sexo:</h5>
                        <p>{{request.insured.gender}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Fecha de nacimiento:</h5>
                        <p>{{request.insured.birthday.iso | date: 'dd/MM/yyyy'}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Estado civil:</h5>
                        <p>{{request.insured.civilStatus}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Lugar de nacimiento (País/Provincia):</h5>
                        <p>{{request.insured.birthplace}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Nacionalidad:</h5>
                        <p>{{request.insured.nationality.name}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Profesión:</h5>
                        <p>{{request.insured.profession}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Ocupación:</h5>
                        <p>{{request.insured.occupation.name}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Empresa donde labora:</h5>
                        <p>{{request.insured.company}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Tiempo en esta ocupación:</h5>
                        <p>{{request.insured.occupationTime}} meses</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Descripción de funciones:</h5>
                        <p>{{request.insured.occupationDescription}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Otras ocupaciones:</h5>
                        <p>{{request.insured.otherOccupations}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Ocupaciones anteriores:</h5>
                        <p>{{request.insured.previousOccupations}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Deportes que práctica:</h5>
                        <p>{{request.insured.sports}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Ingreso mensual:</h5>
                        <p>{{request.insured.monthlyIncome}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Provincia:</h5>
                        <p>{{request.insured.province.name}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Distrito:</h5>
                        <p>{{request.insured.district.name}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Corregimiento:</h5>
                        <p>{{request.insured.corregimiento.name}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Barriada / Urbanización:</h5>
                        <p>{{request.insured.neighborhood}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Calle / Avenida:</h5>
                        <p>{{request.insured.street}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Casa / Apartamento:</h5>
                        <p>{{request.insured.building}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Teléfono residencial:</h5>
                        <p>{{request.insured.localNumber}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Teléfono celular:</h5>
                        <p>{{request.insured.cellphone}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Email</h5>
                        <p>{{request.insured.email}}</p>
                    </div>
                </div>
            </accordion-group>
        </accordion>

        <accordion>
            <accordion-group [panelClass]="customClass" [isOpen]="isFirstOpen">
                    <button class="btn btn-link btn-block clearfix" accordion-heading>
                        <div class="pull-left float-left titulo-accordion" style="margin-left:-15px;">
                            <i class="fas fa-angle-down"></i> Datos de los beneficiarios
                        </div>
                    </button>
                <div class="container">
                    <div class="row mb-4">
                        <div class="marco-verde uno">
                            <h3 class="text-white">Beneficiarios</h3>
                        </div>
                        <div class="fondo-blanco">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                            <th scope="col-2">Nombre(s) y apellido(s):</th>
                                            <th scope="col-2">Cédula / Pasaporte:</th>
                                            <th scope="col-2">Nacionalidad:</th>
                                            <th scope="col-2">Fecha de nacimiento:</th>
                                            <th scope="col-1">Parentesco:</th>
                                            <th scope="col-1">Porcentaje (%):</th>
                                            <th scope="col-1">Tipo:</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let dependent of request.insured.dependents">
                                                <td scope="row"><span class="font-weight-bold">{{dependent.name}} {{dependent.lastName}}</span></td>
                                                <td>{{dependent.document}}</td>
                                                <td>{{dependent.nationality.name}}</td>
                                                <td>{{dependent.birthday.iso | date: 'dd/MM/yyyy'}}</td>
                                                <td>{{dependent.relationship}}</td>
                                                <td>{{dependent.percent}}</td>
                                                <td>{{dependent.type}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                        </div>
                    </div>
                </div>
            </accordion-group>
        </accordion>

        <accordion>
            <accordion-group [panelClass]="customClass" [isOpen]="isFirstOpen">
                <button class="btn btn-link btn-block clearfix" accordion-heading>
                    <div class="pull-left float-left titulo-accordion" style="margin-left:-15px;">
                        <i class="fas fa-angle-down"></i> Tarjeta de crédito o débito
                    </div>
                </button>
                <div class="row">
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Nombre de la tarjeta:</h5>
                        <p>{{request.creditCard.cardName}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Número de la tarjeta:</h5>
                        <p>{{request.creditCard.cardNumber}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  Fecha de vencimiento:</h5>
                        <p>{{request.creditCard.expireMonth}}/{{request.creditCard.expireYear}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 col-lg-3 mb-2">
                        <h5><i class="fas fa-minus"></i>  CVV:</h5>
                        <p>{{request.creditCard.cvv}}</p>
                    </div>
                </div>
            </accordion-group>
        </accordion>

        <accordion>
            <accordion-group [panelClass]="customClass" [isOpen]="isFirstOpen">
                <button class="btn btn-link btn-block clearfix" accordion-heading>
                    <div class="pull-left float-left titulo-accordion" style="margin-left:-15px;">
                        <i class="fas fa-angle-down"></i> Datos de entrega
                    </div>
                </button>
                <div class="row">
                    <div class="col-md-6 col-lg-4 mb-2">
                        <h5><i class="fas fa-minus"></i>  ¿Dónde deseas que te entreguemos tu carnet de afiliación?</h5>
                        <p>{{request.deliverInformation.livingPlace === 'Vivienda' ? 'Vivienda' : request.deliverInformation.placeDescription}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-2">
                        <h5><i class="fas fa-minus"></i>  Punto de referencia:</h5>
                        <p>{{request.deliverInformation.referencePoint}}</p>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-2">
                        <h5><i class="fas fa-minus"></i>  Horario en el que prefieres la entrega:</h5>
                        <p>{{request.deliverInformation.deliverTime}}</p>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>
</section>
<ng-template [ngIf]="isLoading">
  <bsp-loader></bsp-loader>
</ng-template>
<ng-template #content let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" style="color: #556176;">&times;</span>
    </button>
  </div>
  <ng-template [ngIf]="isLoading">
    <bsp-loader></bsp-loader>
  </ng-template>
  <div *ngIf="!isLoading" class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <!-- -->
        </div>
        <div class="col-md-6">
          <img src="assets/img/menor.png" alt="" class="">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h4 class="h4-verde" style="font-size:24px;">Cobertura Completa: </h4>
        </div>
        <div class="col-md-6">
          <!-- -->
        </div>
      </div>
      <div class="">
        <div class="">
          <div class="row mt-3">
            <div class="col-8 col-md-8">
              <h4>Muerte accidental:</h4>
            </div>
            <div class="col-4 col-md-4">
              <h4>{{!request.insurance.coverageDetail.accidentalDeath ? 'N/A' : '$' + request.insurance.coverageDetail.accidentalDeath }}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-8 col-md-8">
              <h4>Adelantos de gastos funerarios:</h4>
            </div>
            <div class="col-8 col-md-4">
              <h4>{{!request.insurance.coverageDetail.funeraryAdvances ? 'N/A' :  '$' + request.insurance.coverageDetail.funeraryAdvances }}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-8 col-md-8">
              <h4>Doble indemnización por muerte por accidente específico:</h4>
            </div>
            <div class="col-4 col-md-4">
              <h4 class="especial">{{ !request.insurance.coverageDetail.dobleCompensation ? 'N/A' : '$' + request.insurance.coverageDetail.dobleCompensation }}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-8 col-md-8">
              <h4>Gastos médicos:</h4>
            </div>
            <div class="col-4 col-md-4">
              <h4>{{ !request.insurance.coverageDetail.medicalExpenses ? 'N/A' : '$' + request.insurance.coverageDetail.medicalExpenses }}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-8 col-md-8">
              <h4>Invalidez permanente:</h4>
            </div>
            <div class="col-4 col-md-4">
              <h4>{{ !request.insurance.coverageDetail.permanentInhability ? 'N/A' : '$' + request.insurance.coverageDetail.permanentInhability }}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-8 col-md-8">
              <h4>Incapacidad profesional u ocupacional:</h4>
            </div>
            <div class="col-4 col-md-4">
              <h4>{{ !request.insurance.coverageDetail.professionalInhability ? 'N/A' : '$' + request.insurance.coverageDetail.professionalInhability }}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-8 col-md-8">
              <h4>Renta diaria por incapacidad temporal:</h4>
            </div>
            <div class="col-4 col-md-4">
              <h4>{{ !request.insurance.coverageDetail.dailyRent ? 'N/A' : '$' + request.insurance.coverageDetail.dailyRent }}</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-8 col-md-8">
          <h4>Servicio de emergencia médica por accidente:</h4>
        </div>
        <div class="col-4 col-md-4">
          <h4>{{request.insurance.coverageDetail.emergencyService ? 'Incluido' : 'No incluido'}}</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-8 col-md-8">
          <h4>Asistencias en viajes:</h4>
        </div>
        <div class="col-4 col-md-4">
          <h4>{{request.insurance.coverageDetail.travelAssistance ? 'Incluido' : 'No incluido'}}</h4>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4 class="h4-verde my-2">Beneficios: </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img src="assets/img/beneficios.png" alt="" class="w-100">
        </div>
        <div class="col-md-4">
          <img src="assets/img/beneficios3.png" alt="" class="w-100">
        </div>
        <div class="col-md-4">
            <img src="assets/img/beneficios2.png" alt="" class="w-100">
          </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary centrado" (click)="modal.dismiss('Cross click')">CERRAR</button>
  </div>
</ng-template>
