.fas.fa-angle-down{
    color: #1975d1;
    margin-right: 10px;
}

.fa-minus{
    font-size: 9px;
    color: #1974d1;
}

.titulo-accordion{
    color: #1975d1;
}
.btn-back i{
  font-size: 20px;
}
.btn-back:hover{
  cursor:pointer;
  color:#003c71;
}

.mayu{
  text-transform: lowercase;
}

.mayu::first-letter{
  text-transform: uppercase;
}

.inferior{
  p{
  font-size: 16px;
  color: #556176;
  text-decoration: none solid rgb(85, 97, 118);
  line-height: 24px;
  }

  h2{
    font-size: 24px;
    color: #13599e;
    font-weight: 700;
    text-decoration: none solid rgb(19, 89, 158);
  }
}
.titulo{
    font-size: 28px;
    color: #003c71;
    font-weight: 700;
    text-decoration: none solid rgb(28, 132, 100);
    margin: 20px;
    @media(min-width: 1024px){
        margin-left: 50px;
    }
}

.marco-verde {
    width: 100%;
    height: 102px;
    background-color: #1c8464;
    background-size: cover;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    h3{
        font-size: 20px;
        margin: 40px 0 40px 60px;
    }
}

.fondo-blanco {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    padding: 10px;
    table td, .table th {
    font-size: 14px;
    color: #556176;
    text-decoration: none solid rgb(85, 97, 118);
    @media (max-width: 1024px){
        font-size: 12px;
    }
    }

    .table th {
    border-top: 0px solid #dee2e6;
    font-weight: 100;
    }
}
.cuadrado.top {
  width: 368px;
  display: block;
  margin: 32px auto;
  border: 2px solid #dce1e9;
  background-size: cover;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}

.cuadrado {
  border: 2px solid #dce1e9;
  background-size: cover;
  margin-bottom: 10px;
}

.cuadrado .superior {
  padding: 10px 0;
}

.cuadrado .inferior {
  padding: 15px 0;
}

.lix{
  font-size: 16px;
  color: #556176;
  text-decoration: none solid rgb(85, 97, 118);
  width: 160px;
  text-align: left;
  @media (min-width: 768px){
    width: 261px;
  }
}

div.bolita{
  width: 15px;
  height: 15px;
  background-color: #1975d1;
  background-size: cover;
  position: absolute;
  top: 20px;
  left: -20px;
  border-radius: 100%;
}

.arrow2 {
  width: auto!important;
  float: right;
}

.ver-detalle {
  font-size: 15.8px;
  color: #4e74b0;
  font-weight: bold;
  margin: 10px auto;
  display: block;
}

.cuadrado .superior img {
    width: 100px;
    margin: 0 auto;
    display: block;
  }
  
  .xmes {
    font-weight: bold;
    margin: 0;
    text-align: right;
    color: #379074;
  }
  
  .cuadrado .inferior {
    background-color: #ebf0f5;
    border: 1px solid #d6d6d6;
    border-width: 0 0 1px 0;
  }
  
  
  .cuadrado .inferior h5 {
    font-size: 18px;
    font-weight: 600;
    color: #5075b1;
  }
  
  .cuadrado .inferior p span {
    color: #557ab3;
    font-weight: bold;
  }
  
  .cuadrado .inferior a {
    color: #5075b1;
  }
  
  .modal-body{
  
      .especial{
          margin-top: 45px;
      }
  }
  
  
  .modal-header{
      border: 0;
      padding: 1rem 1rem 0 1rem;
  }
  
  .modal-body {
    padding: 0rem 1rem 1rem;
  }
  
  .modal-body img {
    width: 140px;
    margin: 0 auto;
    display: block;
  }
  
  .h4-verde {
    color: #003c71 !important;
    margin-top: -30px;
  }
  
  .card.customClass,
  .card.customClass .card-header,
  .panel.customClass {
    background-color: white;
  }
  
  .modal-body .row {
    margin: 15px 0;
  }
  
  .btn-primary {
    border: 0;
  }
  
  @media (max-width: 480px) {
    .cuadrado {
      width: 100%;
    }
  }
  
  
  @media (max-width: 768px) {
    h4 {
      font-size: 20px;
    }
  
    .titulo-1 {
      font-size: 24px;
    }
  
  
    .cuadrado.top {
      width: 368px;
    }
  
    .ver-detalle {
      border: 2px solid #d2d2d2;
      width: 100%;
      margin: 10px 0;
    }
  
    .btn.btn-primary.solicitar {
      margin: 10px 0;
    }
  
    .titulo-condiciones {
      margin: 20px 0 20px 10px;
      font-size: 22px;
    }
  
    .cuadrado {
      border: 2px solid #dce1e9;
      background-size: cover;
      margin-bottom: 10px;
      width: 340px;
      margin: 0 auto 10px auto;
    }
  }
  
  @media (max-width: 1024px) {
    .cuadrado .inferior h5 {
      font-size: 16px;
    }
  
    p {
      font-size: 14px;
    }
  }

  /* tooltip */

/* Tooltip container */
.tooltip-insure {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid #c8c8c8;
  cursor: pointer;
}

.tooltip-insure .tooltiptext {
  visibility: hidden;
  width: 350px;
  background-color: #003c71;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 15px 15;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -400px;
  left: 110%;
  font-size: 11px;
  line-height: 1.6;
  padding: 10px;

  transition: opacity 0.3s linear;
  opacity: 0;
}

.tooltip-insure .tooltiptext:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #003c71;
  left: -8px;
  top: 57%;
}

@media (min-width: 790px) {
  .tooltip-insure:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}

@media (max-width: 789px) {
  .tooltip-insure {
    display: none;
  }
}

.tooltip-insure .tooltiptext b {
  margin-bottom: 5px;
  margin-top: 10px;
}
.tooltip-insure .tooltiptext ul {
  text-align: left;
}
.tooltip-insure .tooltiptext ul li {
  font-size: 9.8px;
  font-weight: normal;
  line-height: 1.1;
  color: white;
}
  