.cartel {
  
  border: 1px solid #666666;
  background-color: #ebebeb;
  background-size: cover;
  padding: 15px;
  margin: 30px auto 30px auto;
  display: block;
  @media (min-width: 1440px){
    width: 1062px;
    height: 126px;
  }
}

.imgcheck{
  float: left;
}

.titulo {
  font-size: 32px;
  color: #3a4454;
  text-decoration: none solid rgb(58, 68, 84);
  font-weight: bold;
  margin-bottom: 4px;
  @media (max-width: 768px){
    text-align: center;
  }
}

.texto {
  font-size: 20px;
  color: #556176;
  text-decoration: none solid rgb(85, 97, 118);
  @media (max-width: 768px){
    text-align: center;
  }
}

p {
  margin: 0;
  font-size: 22px;
  color: #556176;
  text-decoration: none solid rgb(85, 97, 118);
  @media (max-width: 768px){
    font-size: 16px;
  }
}

.check {
  width: 50px;
  height: 50px;
  margin-top: 20px;
  @media (max-width: 768px){
    margin: 0 auto;
    display: block;
  }
}

.enlace {
  font-size: 14px;
  color: #1975d1;
  text-decoration: none solid rgb(25, 117, 209);
  text-align: center;
  margin-top: 75px;
  display: block;
  @media (max-width: 768px){
    margin-top: 10px;
  }
  
}

.contenedor {
  padding: 0 60px;
  @media (max-width: 768px){
    padding: 0 20px;
  }
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  font-size: 20px;
  color: #556176;
  text-decoration: none solid rgb(85, 97, 118);
  @media (max-width: 768px){
    font-size: 18px;
  }
}


.numero-azul{
  font-size: 32px;
  color: #1975d1;
  text-decoration: none solid rgb(25, 117, 209);
}

.en-caso {
  font-size: 22px;
  color: #556176;
  text-decoration: none solid rgb(85, 97, 118);
  margin-bottom: 50px;
  @media (max-width: 768px){
    margin-bottom: 10px;
    font-size: 18px;
  }
}

.en-caso-two{
  font-size: 22px;
  color: #556176;
  text-decoration: none solid rgb(85, 97, 118);
  margin-bottom: 20px;
  @media (max-width: 768px){
    margin-bottom: 10px;
    font-size: 18px;
  }
}

h3.subtitulo {
  font-size: 24px;
  color: #1c8464;
  font-weight: 700;
  text-decoration: none solid rgb(28, 132, 100);
  margin-bottom: 50px;
  display: inline-block;
  margin-right: 10px;
  @media (max-width: 768px){
    margin-bottom: 10px;
  }
  
}

.informacion {
  margin: 30px 40px;
}

.gris {
  background-color: #fafafa;
  background-size: cover;
  padding: 60px 0;
}



.abajo{
  div.col-md-6.pad{
    @media (max-width: 1024px){
      padding: 0!important;
    }
  }
  ul{
    li{
      li {
        list-style: none;
        font-size: 20px;
        color: #556176;
        text-decoration: none solid rgb(85, 97, 118);
      }
    }
  }
  p.informacion{
    margin: 10px 0px 10px 60px;
  }

  .imgcheck{
    margin-left: 20px;
  }

  .red{
    @media (max-width: 768px){
      width: 20px;
    }
  }

  .my-40{
    margin: 40px 0;
    @media (max-width: 768px){
      margin: 0;
    }
  }
  
  .ml-40{
    margin-left: 60px ;
    @media (max-width: 768px){
      margin: 0;
    }
  }
}
