<div class="container">
  <div class="cartel">
    <div class="container">
      <div class="row">
        <ng-template [ngIf]="paymentFailed != true">
          <div class="col-lg-1">
            <img src="https://res.cloudinary.com/merchanj/image/upload/v1559177569/Banesco_Seguros_Panama/AP/success1.svg"
              alt="" class="check">
          </div>
          <div class="col-lg-7">
            <h3 class="titulo">¡Listo {{insured.name}} {{insured.lastname}}!</h3>
            <p class="texto" style="font-size:15px;">A más tardar 24 horas tu seguro estará activo.</p>
            <p class="texto" style="font-size:15px;">Te estaremos enviando vía email los documentos del seguro que acabas de comprar.</p>
          </div>
        </ng-template>
        <ng-template [ngIf]="paymentFailed == true">
          <div class="col-lg-1">
            <img src="https://res.cloudinary.com/merchanj/image/upload/v1559177569/Banesco_Seguros_Panama/AP/error.svg"
              alt="" class="check">
          </div>
          <div class="col-lg-10">
            <h3 class="titulo">Lo Sentimos {{insured.name}} {{insured.lastName}}!</h3>
            <p class="texto">{{ message }}</p>
            <p class="texto">Realiza tu pago nuevamente, para completar tu seguro. <button class="btn btn-primary btn-small" (click)="doPayment()" >Reintentar Pago</button> </p>
          </div>
        </ng-template>
        <ng-template [ngIf]="paymentFailed != true">
          <div class="col-lg-4">
            <a href="#" class="enlace"><img
                src="https://res.cloudinary.com/merchanj/image/upload/v1559177569/Banesco_Seguros_Panama/AP/success2.png"
                alt="" class="flechi"> Ir a Banescoseguros.com</a>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<ng-template [ngIf]="paymentFailed != true">
  <div class="contenedor">
    <h3 class="subtitulo">{{ titles.coverageTitle }}</h3>
    <div class="row">
      <div class="col-md-6">
        <p class="en-caso">{{ titles.coverageSubtitle}}</p>
        <ul>
          <li *ngFor="let itemCheck of left_items">
            <img src="https://res.cloudinary.com/merchanj/image/upload/v1559177569/Banesco_Seguros_Panama/AP/check.png"
              class="imgcheck" alt="">
            <p class="informacion"> {{ itemCheck }} </p>
          </li>
        </ul>
        <ng-template [ngIf]="icons">
        <div class="img1 img_top" style="background-color:white;">
          <img class="img2" src="../../../../../../assets/img/cuatroapinfo.svg">
        </div>
        </ng-template>
      </div>
      <div class="columnContainer">
        <div class="columnDivider"></div>
      </div>
      <div class="col-md-6">
        <p class="en-caso">{{ titles.sinisterTitle }}</p>
        <ul>
          <li *ngFor="let itemCheck of right_items">
            <img src="https://res.cloudinary.com/merchanj/image/upload/v1559177569/Banesco_Seguros_Panama/AP/check.png"
              class="imgcheck" alt="">
            <p class="informacion"> {{ itemCheck }} </p>
          </li>
        </ul>
        <ng-template [ngIf]="icons">
        <div class="img1 img_bot" style="background-color:white">
          <img class="img3" src="../../../../../../assets/img/unoapinfo.svg">
        </div>
        </ng-template>
      </div>
    </div>
  </div>
<ng-template [ngIf]="this.insurance.type == 'accidentes-personales'">
  <div class="gris">
    <div class="contenedor">
      <h3 class="subtitulo">¿Que hacer en el momento de un siniestro? </h3>
      <img style="height:50px;" src="../../../../../../assets/img/question.svg"
        alt="">
      <div class="row abajo">
        <div class="col-md-6">
          <p class="en-caso">En caso de fallecimiento del asegurado:</p>
          <p><span class="numero-azul">1.</span> Los beneficiarios deben dirigirse a cualquier sede de <strong>Banesco
              Seguros</strong> </p>
          <p><span class="numero-azul">2.</span> Deben traer: </p>
          <ul>
            <li>
              <img src="https://res.cloudinary.com/merchanj/image/upload/v1559177569/Banesco_Seguros_Panama/AP/check.png"
                class="imgcheck" alt="">
              <p class="informacion"> Certificado de defunción</p>
            </li>
            <li>
              <img src="https://res.cloudinary.com/merchanj/image/upload/v1559177569/Banesco_Seguros_Panama/AP/check.png"
                class="imgcheck" alt="">
              <p class="informacion"> Copia certificada del informe médico forense</p>
            </li>
            <li>
              <img src="https://res.cloudinary.com/merchanj/image/upload/v1559177569/Banesco_Seguros_Panama/AP/check.png"
                class="imgcheck" alt="">
              <p class="informacion"> Copia de cédula del asegurado</p>
            </li>
            <li>
              <img src="https://res.cloudinary.com/merchanj/image/upload/v1559177569/Banesco_Seguros_Panama/AP/check.png"
                class="imgcheck" alt="">
              <p class="informacion"> Certificado de nacimiento en caso de menor de edad</p>
            </li>
            <!-- <li>
              <img src="https://res.cloudinary.com/merchanj/image/upload/v1559177569/Banesco_Seguros_Panama/AP/check.png"
                class="imgcheck" alt="">
              <p class="informacion"> Formulario de declaración de siniestro.</p>
            </li> -->
          </ul>
        </div>
        <div class="columnContainer">
          <div class="columnDivider"></div>
        </div>
        <div class="col-md-6 p-3">
          <p class="en-caso">En caso de accidente del asegurado (territorio nacional o extranjero):</p>
          <p><span class="numero-azul">1.</span> Llamar a nuestra asistencia médica :</p>
          <img src="https://res.cloudinary.com/merchanj/image/upload/v1559177569/Banesco_Seguros_Panama/AP/phonegreen.svg"
            alt="" class="imgcheck ml-40 red">
          <p> <strong>+507 366-8555</strong></p>
          <p class="my-40"><span class="numero-azul">2.</span> Ten a la mano tu número de póliza o cédula.</p>
          <p><span class="numero-azul">3.</span> Sigue las instrucciones de la operadora</p>
        </div>
      </div>
  </div>
</div>
</ng-template>
<ng-template [ngIf]="this.insurance.type == 'cancer'">
  <div class="gris">
    <div class="contenedor offset-md-1 col-md-10">
      <h3 class="subtitulo">¿Que hacer en el momento de un siniestro? </h3>
      <img style="height:50px;" src="../../../../../../assets/img/question.svg"
        alt="">
      <div class="row abajo">
        <div class="col-md-12">
          <p class="en-caso">El asegurado o beneficiarios en caso de fallecimiento del asegurado deben dirigirse a cualquier sede de Banesco Seguros y entregar los siguientes documentos: </p>
          <ul>
            <li>
              <img src="https://res.cloudinary.com/merchanj/image/upload/v1559177569/Banesco_Seguros_Panama/AP/check.png"
                class="imgcheck" alt="">
              <p class="informacion"> Historial médico del diagnóstico de cáncer.</p>
            </li>
            <li>
              <img src="https://res.cloudinary.com/merchanj/image/upload/v1559177569/Banesco_Seguros_Panama/AP/check.png"
                class="imgcheck" alt="">
              <p class="informacion"> Historia Clínica completa.</p>
            </li>
            <li>
              <img src="https://res.cloudinary.com/merchanj/image/upload/v1559177569/Banesco_Seguros_Panama/AP/check.png"
                class="imgcheck" alt="">
              <p class="informacion"> Copia de cédula o identificación del asegurado.</p>
            </li>
            <li>
              <img src="https://res.cloudinary.com/merchanj/image/upload/v1559177569/Banesco_Seguros_Panama/AP/check.png"
                class="imgcheck" alt="">
              <p class="informacion"> Exámenes médicos practicados al asegurado relacionados al diagnóstico de cáncer.</p>
            </li>
          </ul>
        </div>
      </div>
  </div>
</div>
</ng-template>
</ng-template>
