<form [formGroup]="formClientdata">
	<div class="formulario">
		<h3 class="font-weight-bold color-green"> Datos Personales</h3>
		<p class="color-blue mb-3">Por favor completa los siguientes datos y continúa con el proceso de solicitud.</p>
		<h5>Información personal</h5>
			<hr>
			<div class="row">
				<div class="col-md-12">
						<p class="sub-titulo">Nombre completo:</p>
						<button (click)="guardar()"></button>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-6 col-md-6 Input">
					<input type="text" class="form-control" placeholder="Nombre" formControlName="nombre">
					<div class="error" *ngIf="formClientdata.get('nombre').errors && formClientdata.get('nombre').dirty">
						<p *ngIf="formClientdata.get('nombre').hasError('required')">* Campo requerido</p>
						<p *ngIf="formClientdata.get('nombre').hasError('minlength')">* Campo inválido</p>
					</div>
				</div>
				<div class="form-group col-6 col-md-6 Input">
					<input type="text" class="form-control" placeholder="Apellido" formControlName="apellido">
					<div class="error" *ngIf="formClientdata.get('apellido').errors && formClientdata.get('apellido').dirty">
						<p *ngIf="formClientdata.get('apellido').hasError('required')">* Campo requerido</p>
						<p *ngIf="formClientdata.get('apellido').hasError('minlength')">* Campo inválido</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<p class="sub-titulo">Fecha de nacimiento:</p>
				</div>
			</div>
				<div class="form-row">
					<div class="form-group col-4 col-md-4 Input">
						<input type="text" class="form-control" placeholder="Día" required formControlName="dia">
						<div class="error" *ngIf="(formClientdata.get('dia').errors && formClientdata.get('dia').dirty)">
							<p *ngIf="formClientdata.get('dia').hasError('required')">* Campo requerido</p>
						</div>
					</div>
					<div class="form-group col-4 col-md-4 Input">
						<select name="" id="" class="form-control" formControlName="mes" required>
							<option disabled selected>Mes</option>
							<option value="enero">Enero</option>
						</select>
						<div class="error" *ngIf="(formClientdata.get('mes').errors && formClientdata.get('mes').dirty)">
							<p *ngIf="formClientdata.get('mes').hasError('required')">* Campo requerido</p>
						</div>
					</div>
					<div class="form-group col-4 col-md-4 Input">
						<input type="text" class="form-control" placeholder="Año" required formControlName="anio">
						<div class="error" *ngIf="(formClientdata.get('anio').errors && formClientdata.get('anio').dirty)">
							<p *ngIf="formClientdata.get('anio').hasError('required')">* Campo requerido</p>
						</div>
					</div>
				</div>
			<div class="row">
				<div class="col-md-12">
						<p class="sub-titulo">Genero:</p>
				</div>
			</div>
				<div class="form-group">
						<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" value="masculino" checked formControlName="masculino">
						<label class="form-check-label" for="masculino">Masculino</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" value="femenino" formControlName="femenino">
						<label class="form-check-label" for="femenino">Femenino</label>
					</div>
				</div>
			<div class="row">
				<div class="col-md-12">
						<p class="sub-titulo">Documentos de identidad</p>
				</div>
			</div>
				<div class="form-row">
						<div class="form-group col-md-6">
							<select class="form-control" formControlName="tipo_doc">
								<option disabled selected>Tipo de documento</option>
								<option value="cedula">Cedula</option>
							</select>
							<div class="error" *ngIf="(formClientdata.get('tipo_doc').errors && formClientdata.get('tipo_doc').dirty)">
								<p *ngIf="formClientdata.get('tipo_doc').hasError('required')">* Campo requerido</p>
							</div>
						</div>
						<div class="form-group col-md-6">
							<input type="number" class="form-control" id="num_doc" placeholder="Número de documento" minlength="5">
							<div class="error" *ngIf="(formClientdata.get('num_doc').errors && formClientdata.get('num_doc').dirty)">
								<p *ngIf="formClientdata.get('num_doc').hasError('required')">* Campo requerido</p>
							</div>
						</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="est_civil" class="sub-titulo">Estado civil:</label>
						<select class="form-control" formControlName="est_civil">
							<option disabled selected>Estado civil</option>
							<option value="soltero">Soltero</option>
						</select>
						<div class="error" *ngIf="(formClientdata.get('est_civil').errors && formClientdata.get('est_civil').dirty)">
							<p *ngIf="formClientdata.get('est_civil').hasError('required')">* Campo requerido</p>
						</div>
					</div>
				</div>
			<div class="row">
				<div class="col-md-12">
					<h5>Información personal</h5>
					<hr>
				</div>
			</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="email" class="sub-titulo">Correo electrónico:</label>
						<input type="email" class="form-control" placeholder="Correo electrónico" formControlName="email">
						<div class="error" *ngIf="(formClientdata.get('email').errors && formClientdata.get('email').dirty)">
							<p *ngIf="formClientdata.get('email').hasError('required')">* Campo requerido</p>
						</div>
					</div>
					<div class="form-group col-md-6">
						<label for="telefono" class="sub-titulo">Teléfono:</label>
						<input type="number" class="form-control" placeholder="Teléfono" minlength="5" formControlName="telefono">
						<div class="error" *ngIf="(formClientdata.get('telefono').errors && formClientdata.get('telefono').dirty)">
							<p *ngIf="formClientdata.get('telefono').hasError('required')">* Campo requerido</p>
						</div>
					</div>
				</div>
	</div>
</form>