<footer>
  <div class="container my-2">
    <div class="menu-footer-below-container">
      <ul id="menu-footer-below" class="no-padding no-margin">
        <li id="" class=""><a href="http://banescoseguros.com.pa/centro-especializado-de-atencion/"><i
              class="fas fa-circle mr-3"></i> <strong>Call Center </strong> <strong> 366-8555</strong></a></li>
        <li id="" class=""><a href="http://banescoseguros.com.pa/banesco-seguros-banesco-contigo/"><i
              class="fas fa-circle mr-3"></i> <strong>Asistencia Contigo</strong> 24 Horas <strong>366-8585</strong></a>
        </li>
        <li id="" class=""><a target="_blank" href="http://banescoseguros.com.pa/fatca.pdf"><i
              class="fas fa-circle mr-3"></i> FATCA</a></li>
        <li id="" class=""><a target="_blank" href="http://banescoseguros.com.pa/fatca.pdf"><i
              class="fas fa-circle mr-3"></i> CRS</a></li>
        <li id="" class=""><a target="_blank" href="https://www.empleosbanescointernacional.com/"><i
              class="fas fa-circle mr-3"></i> <strong>Trabaja con nosotros</strong> Únete a Banesco</a></li>
        <li id="" class=""><a target="_blank" href="http://banescoseguros.com.pa/ley-12-seguros.pdf">Ley 12 del 3 de
            Abril de 2012</a></li>
      </ul>
    </div>

    <div class="row pl-0 pl-md-3">
      <div class="col-3 col-md-2 col-lg-1">
        <img src="https://res.cloudinary.com/merchanj/image/upload/v1559177569/Banesco_Seguros_Panama/AP/ssrp.png" alt="">
      </div>
      <div class="col-9 col-md-6 col-lg-6">
        <p class="text-secondary">2014. Banesco Seguros Panamá. <br> Todos los derechos reservados. <br> Entidad
          supervisada por la <br> Superintendencia de Seguros y Reaseguros de Panamá</p>
      </div>
      <div class="col-12 col-md-4 col-lg-5 text-right redes">
        <h5 class="text-secondary fs-14 d-inline-block">Nuestras empresas</h5>
        <a href="http://banescoseguros.com.do/" target="_blank" class="">
          <img src="https://res.cloudinary.com/merchanj/image/upload/v1559177569/Banesco_Seguros_Panama/AP/dominicana.png" alt="">
        </a>
        <a href="http://www.banescoseguros.com/" target="_blank" class="">
          <img src="https://res.cloudinary.com/merchanj/image/upload/v1559177569/Banesco_Seguros_Panama/AP/venezuela.png" alt="">
        </a>
        <a href="http://banescoseguros.com.pa/" target="_blank" class="">
          <img src="https://res.cloudinary.com/merchanj/image/upload/v1559177569/Banesco_Seguros_Panama/AP/panama.png" alt="">
        </a>
        <br>
        <div class="">
          <a href="https://twitter.com/BanescoSeguroPA" target="_blank" class="">
            <img src="https://res.cloudinary.com/merchanj/image/upload/v1559177569/Banesco_Seguros_Panama/AP/twitter.png" alt="">
          </a>
          <a href="https://www.facebook.com/BanescoSegurosPanama/" target="_blank" class="">
            <img src="https://res.cloudinary.com/merchanj/image/upload/v1559177569/Banesco_Seguros_Panama/AP/Facebook.png" alt="">
          </a>
          <a href="https://www.instagram.com/banescosegurospa/" target="_blank" class="">
            <img src="https://res.cloudinary.com/merchanj/image/upload/v1559177569/Banesco_Seguros_Panama/AP/instagram.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>