.logo-footer{
    width: 45%;
}
.menu-footer ul{
    list-style-type:none;
    margin-bottom:0px;
}

.menu-footer ul li{
    display:inline-block;
}
.menu-footer ul li:not(:last-child):after{
    content:"";
    width:2px;
    margin-left:15px;
    margin-right:15px;
    height:100%;
    color:#909299;
    font-size:20px;
    border-left-style: solid;
    border-left-color: #ddd;
    border-left-width: 1px;
}
.menu-footer ul li a{
    color:#909299;
    font-family: "Helvetica",Helvetica;
    font-size: 15px;
    margin-left:9px;
}
.menu-footer ul li a:hover{
    color:#1d1d1d;
    text-decoration:none;
}
.text-footer-small{
    font-family: "Helvetica",Helvetica;
    font-size:11px;
    font-weight:500;
    margin-left:26px;
}
.social-icon-container{
    height:35px;
}
.social-icon i{
    width: 1em;
    height: 1em;
    position: relative;
    display: block;
    color:white;
}
.social-icon{
    border-radius:10%;
    font-size:13px;
    padding:.5em;
    margin-left:5px;
}
.social-icon-instagram{
    background-color: #262626;
}
.social-icon-twitter{
    background-color: #1da1f2;
}
.social-icon-youtube{
    background-color: #cd201f;
}
.social-icon-linkedin{
    background-color:#0077b5;
}

.brand-container{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .menu-footer{
        margin:0px;
        padding:0px;
        position:relative;
        left:-10px;
    }
    .brand-container{
        display:block;
    }
    .logo-footer{
        width:150px;
    }
    .menu-footer ul li:not(:last-child):after{
        content:"";
        width:2px;
        margin-right:2px;
        height:100%;
        color:#909299;
        font-size:18px;
        border-left-style: solid;
        border-left-color: #ddd;
        border-left-width: 1px;
    }
    .menu-footer ul{
        margin-left:0px;
        padding-left:0px;
    }
}

@media (max-width:767px){
    .logo-footer{
        width:100px;
    }
    .menu-footer{
        margin-top:5px;
        position:relative;
        left:0px;
    }

    .social-icon-container{
        display:block;
        flex-grow: 2;
        float:right;
        margin-top:10px;
    }
    .sub-footer-container{
        display:block!important;
        margin-top:6px!important;
    }
    .menu-footer ul li:not(:last-child):after{
        font-size:14px;
        margin-left:3px;
        margin-right:3px;
    }
    .menu-footer ul li a{
        font-size: 12px;
        margin-left:2px;
    }
}