button{
    font-family: 'Lato', sans-serif!important;
}

.module-header-2 {
    background-image: url("/assets/img/car.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-tabset{
	background-color: green;
}

@media (min-width: 768px){
    .bloque{
        width: 600px;
    }
}