.contenedor-tarjeta{
    width: 500px;
}

.btn-primary {
    color: #fff;
    background-color: #1c8364;
    border-color: #1c8364;
    width: 281px;
    display: block;
    margin: 0 auto;
    font-size: 17px;
    font-weight: initial;
}

.btn-primary:hover{
    color: #fff;
    background-color: #0d5640;
    border-color: #0d5640;
}

.contenedor{
    margin: 150px 0;
}

.titulo{
    margin: 10px 0 0 1px;
    color: #556176;
}