.portada{
    background-color: #fafafa;
    background-size: cover;
    h1{
        font-size: 42px;
        color: #007943;
        font-weight: 700;
        text-decoration: none solid rgb(0, 121, 67);
        letter-spacing: -2px;
        @media (min-width: 1024px){
            width: 723px;
            height: 50px;
            margin-top: 60px;
        }
    }
    p{
        font-size: 20px;
        color: #556176;
        text-decoration: none solid rgb(85, 97, 118);
        line-height: 38px;
        @media (min-width: 1024px){
            width: 670px;
            height: 76px;
        }
    }
    button{
        border-radius: 4px;
        background-color: #13599e;
        font-family: Lato;
        font-size: 20px;
        color: #ffffff;
        font-weight: 700;
        text-decoration: none solid rgb(255, 255, 255);
        text-align: center;
        @media (min-width: 1024px){
            width: 160px;
            height: 55px;
            float: right;
            margin: -30px 30px 0 0px;
        }
    }

    img{
        @media (min-width: 1024px){
            margin-top: 60px;
        }
    }
    @media(min-width: 1024px){
        width: 1440px;
        height: 288px;
    }
}

.contenedor{
    .botones{
        @media(min-width: 1024px){
            margin-left: 70px;
        }
        .boton-cuadrado{
            border: 1px solid #556176;
            background-size: cover;
            font-size: 16px;
            padding: 5px 15px;
            margin-right: 10px;
            @media(min-width: 1024px){
                height: 40px;
            }
        }
    }
}