<div class="portada-info">
    <div class="texto">
        <h3>Accidentes Personales</h3>
        <h5>Obtén tu seguro en tan solo 24 horas</h5>
    </div>
</div>

<div class="container">
    <div class="row padding-300">
        <div class="col-md-12 text-center">
            <div class="anchura">
                <img src="https://res.cloudinary.com/merchanj/image/upload/v1559177569/Banesco_Seguros_Panama/AP/thanks.svg" alt="" class="img-1">
                <h4 class="">¡Gracias por confiar en Banesco Seguros!</h4>
                <p class="primerp">En este momento no se cumplen todas las condiciones para continuar con la solicitud de tu seguro.​​​​​​​</p>
                <p class="segundop">Para conocer más detalles, no dudes en contactarnos en nuestros canales de atención al cliente.</p>
                <a href="http://banescoseguros.com.pa/" target="_blank"><img src="https://res.cloudinary.com/merchanj/image/upload/v1559177569/Banesco_Seguros_Panama/AP/success2.svg" alt=""> Ir a banescoseguros.com
                </a>
            </div>
        </div>
    </div>
</div>