<div class="portada-info">
  <div class="texto">
      <h3>Accidentes Personales</h3>
      <h5>Obtén tu seguro en tan solo 48 horas</h5>
  </div>
</div>


<div class="row padding-300">
  <div class="col-md-12 text-center">
    <div class="anchura">
      <img src="assets/img/thanks.svg" alt="" class="img-1">
      <h4 class=""><strong>¡Gracias por confiar en Banesco Seguros!</strong></h4>
      <p>En este momento no se cumplen todas las condiciones para continuar con la solicitud de tu seguro.​​​​​​​</p>
      <p>Para conocer más detalles, no dudes en contactarnos en nuestros canales de atención al cliente.</p>
      <a href="http://banescoseguros.com.pa/" target="_blank"><img src="assets/img/success2.svg" alt=""> Ir a
        banescoseguros.com</a>
    </div>
  </div>
</div>
